.Login {
	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.headline {
			display: flex;
			gap: 58px;
			margin-bottom: 40px;
			a {
				&:first-child {
					color: rgb(34, 34, 34);
					font-size: 20px;
					font-weight: 600;
					line-height: 130%;
					letter-spacing: 0px;
					text-align: left;
				}
				&:nth-child(2n) {
					color: rgb(150, 150, 150);
					font-size: 20px;
					font-weight: 400;
					line-height: 130%;
					letter-spacing: 0px;
					text-align: left;
				}
			}
		}
		.form_container {
			display: flex;
			flex-direction: column;
			gap: 12px;
			max-width: 437px;
			width: 100%;
			.email_content {
				label {
					color: white;
					font-size: 14px;
					font-weight: 400;
					line-height: 130%;
					letter-spacing: 0px;
					text-align: left;
					span {
						color: red;
					}
				}
				display: flex;
				flex-direction: column;
				gap: 8px;
			}
			.password_content {
				label {
					color: white;
					font-size: 14px;
					font-weight: 400;
					line-height: 130%;
					letter-spacing: 0px;
					text-align: left;
					span {
						color: red;
					}
				}
				display: flex;
				flex-direction: column;
				gap: 8px;
			}
			.btn_login {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-top: 30px;
				gap: 20px 0px;
				button {
					width: 100%;
					border: none;
					outline: none;
					background-color: rgb(28, 28, 28);
					padding: 10px 24px 10px 24px;
					color: rgb(255, 255, 255);
					font-size: 16px;
					font-weight: 600;
					line-height: 22px;
					letter-spacing: 0px;
					text-align: center;
					cursor: pointer;
				}
			}
		}
		.forgot_password {
			max-width: 437px;
			width: 100%;
			padding: 10px 24px;
			font-size: 15px;
			font-weight: 500;
			border: 2px solid rgb(255, 255, 255);
			color: rgb(255, 255, 255);
			background-color: transparent;
			margin-top: 20px;
		}
	}
}
