.Registration {
	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		.headline {
			display: flex;
			gap: 58px;
			margin-bottom: 40px;
			a {
				&:nth-child(2n) {
					color: rgb(34, 34, 34);
					font-size: 20px;
					font-weight: 600;
					line-height: 130%;
					letter-spacing: 0px;
					text-align: left;
				}
				&:first-child {
					color: rgb(150, 150, 150);
					font-size: 20px;
					font-weight: 400;
					line-height: 130%;
					letter-spacing: 0px;
					text-align: left;
				}
			}
		}
		.form_container {
			display: flex;
			flex-direction: column;
			gap: 12px;
			max-width: 437px;
			width: 100%;
			label {
				display: flex;
				flex-direction: column;
				gap: 8px;
				position: relative;
				p {
					color: #fff;
					span {
						color: red;
					}
				}

				input {
					height: 41px;
					padding: 10px 18px;
					outline: none;
					color: rgb(150, 150, 150);
					font-size: 16px;
					font-weight: 400;
					line-height: 130%;
					letter-spacing: 0px;
					text-align: left;
					box-sizing: border-box;
					border: 1px solid rgb(196, 196, 196);
					background-color: #e5e5e5c7;
					color-scheme: white;

					&:focus {
						background: rgb(250, 250, 250);
						outline: none;
						color: #222222;
					}
					&:hover {
						border: 1px solid rgb(196, 196, 196);
						background: rgb(250, 250, 250);
						transition: 0.5s;
					}
					&:focus::placeholder {
						opacity: 0;
					}
				}
				.input_error {
					background: rgba(255, 0, 0, 0.11);
					border: red 1px solid;
					&:focus {
						background: rgba(255, 0, 0, 0.11);
						outline: none;
						color: #222222;
					}
					&:hover {
						border: 1px solid rgb(255, 0, 0);
						background: rgba(255, 0, 0, 0.11);
						transition: 0.5s;
					}
				}
				.input {
					border: 1px solid rgb(196, 196, 196);
					color: #222222;
					background-color: #e5e5e5;
					transition: 0.5s;
				}
				.icon_password {
					position: absolute;
					top: 36px;
					left: 92%;
					cursor: pointer;
					@media (max-width: 450px) {
						position: absolute;
						left: 88%;
					}
				}
			}
			.follow_checkbox {
				margin-top: 30px;
				label {
					.checkbox_content {
						display: flex;
						align-items: center;
						justify-content: start;
						input {
							outline: none;
							margin-right: 12px;
							color-scheme: white;
							width: 22px;
							height: 22px;
						}
						p {
							color: rgb(119, 119, 119);
							font-size: 12px;
							font-weight: 400;
							line-height: 16px;
							letter-spacing: 0px;
							text-align: left;
						}
					}
				}
			}
			.btn_container {
				display: flex;
				flex-direction: column;
				margin-top: 32px;
				gap: 12px;
				button {
					padding: 10px 24px;
					color: rgb(255, 255, 255);
					background-color: rgb(0, 0, 0);
					font-size: 16px;
					font-weight: 600;
					line-height: 22px;
					letter-spacing: 0px;
					text-align: center;
					cursor: pointer;
					border: none;
					outline: none;
					font-family: Open Sans;

					&:nth-child(2n) {
						background-color: transparent;
						color: rgb(34, 34, 34);
						border: 1px solid rgb(34, 34, 34);
					}
				}
			}
		}
		.vendor_btn {
			display: flex;
			justify-content: center;
			max-width: 437px;
			width: 100%;
			margin-top: 12px;
			button {
				padding: 10px 24px;
				font-size: 16px;
				font-weight: 600;
				line-height: 22px;
				letter-spacing: 0px;
				text-align: center;
				border: 1px solid rgb(34, 34, 34);
				background-color: black;
				color: rgb(34, 34, 34);
				color: white;
				width: 100%;
				font-family: Open Sans;
				cursor: pointer;
			}
		}
		.btn_with_google {
			display: flex;
			justify-content: center;
			margin-top: 10px;
			max-width: 437px;
			width: 100%;
			button {
				display: flex;
				justify-content: center;
				border: none;
				outline: none;
				width: 100%;
				padding: 6px 24px;
				background-color: #f8f8f8;
				border: 1px solid black;
				cursor: pointer;
				.content_btn {
					display: flex;
					align-items: center;
					justify-content: space-between;
					max-width: 200px;
					width: 100%;
					margin-right: 15px;
					svg {
						width: 30px;
						height: 30px;
					}
					p {
						color: rgb(34, 34, 34);
						font-family: Open Sans;
						font-size: 16px;
						font-weight: 600;
						line-height: 22px;
						letter-spacing: 0px;
						text-align: left;
					}
				}
			}
		}
	}
}
.confirm_email {
	display: flex;
	flex-direction: column;
	gap: 20px 0px;
	.title {
		p {
			color: rgb(34, 34, 34);
			font-family: Open Sans;
			font-size: 14px;
			font-weight: 600;
			line-height: 22px;
			letter-spacing: 0px;
			text-align: left;
		}
	}
	.code_confirm {
		display: flex;
		justify-content: start;

		input {
			border: 1.5px solid rgb(186, 179, 179);
			outline: none;
			padding: 10px 15px;
			width: 100%;
			color: black;
			font-family: Open Sans;
			font-size: 14px;
			font-weight: 500;
			background-color: #f8f8f8;
			&:focus {
				&::placeholder {
					opacity: 0;
				}
			}
		}
	}
	.btn {
		display: flex;
		justify-content: end;
		button {
			padding: 10px 18px;
			background-color: black;
			border: none;
			outline: none;
		}
	}
}
