.input_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 235px;
	width: 100%;
	height: 315px;
	background-color: rgb(224, 224, 224);
	color: rgb(156, 155, 155);
	background-repeat: no-repeat;
	background-position: 100% 100%;
	background-size: 100%;
	box-sizing: border-box;
	position: relative;
	padding-bottom: 30px;
	z-index: 2;
	transition: 0.3s;
	&:hover {
		transition: 0.4s;
		background: rgb(236, 236, 236);
		color: white;
	}

	.img_container {
		margin-bottom: 8px;
	}
	.btn_container {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 68%;
		button:first-child {
			color: rgb(243, 73, 1);
			font-size: 18px;
			font-weight: 400;
			line-height: 130%;
			letter-spacing: 0px;
			margin-bottom: 23px;
			text-align: center;
			text-decoration-line: underline;
			background-color: transparent;
			outline: none;
			border: none;
		}
		button {
			color: rgb(243, 73, 1);
			font-size: 18px;
			font-weight: 400;
			line-height: 130%;
			letter-spacing: 0px;
			text-align: center;
			text-decoration-line: none;
			background-color: transparent;
			outline: none;
			border: none;
			color: white;
		}
	}

	p {
		color: rgb(150, 150, 150);
		font-size: 14px;
		font-weight: 400;
		line-height: 130%;
		letter-spacing: 1px;
		text-align: center;
		box-sizing: border-box;
		max-width: 163px;
		position: absolute;
		top: 70%;
	}
}
