.Welcome {
	background-color: #1c1c1c;
}

.latest_books_section {
	max-width: 1900px;
	width: 100%;
	position: relative;
	padding: 1px;

	.backLine svg {
		position: absolute;
		width: 100%;
		z-index: 1;
	}

	.slider_container {
		position: absolute;
		top: 18%;
		right: 20%;
		width: 50%;
		margin: 4rem auto;
		height: 470px;
		@media (max-width: 768px) {
			display: flex;
			flex-direction: column;
			margin: 0px;
			top: 0px;
			right: 0px;
			width: 100%;
		}

		@media (max-width: 640px) {
			width: 70%;
			right: 100px;
		}
		@media (max-width: 520px) {
			width: 35%;
			right: 100px;
		}
		@media (max-width: 401px) {
			width: 100%;

			right: 100px;
		}

		.textBookContent {
			color: white;
			.textBookTwo {
				color: #8c8c8c;
				font-size: 50%;
			}

			.textBook {
				font-size: 50%;
				color: #d6d6d6;
			}
		}

		@media (max-width: 1000px) {
			top: 14%;
		}
		@media (max-width: 720px) {
			top: 14%;
		}
		@media (max-width: 575px) {
			margin: 0;
		}
		@media (max-width: 402px) {
			top: -32%;
			left: 80px;
		}
		@media (max-width: 388px) {
			top: -32%;
		}
		@media (max-width: 400px) {
			top: -63%;
			left: 40px;
		}
		@media (max-width: 338px) {
			top: -73%;
			left: 20px;
		}

		.slide img {
			width: 10rem;
			margin: -10px;
			@media (max-width: 650px) {
				.slide img {
					width: 100%;
					margin: auto;
				}
			}
			@media (max-width: 500px) {
			}
		}

		.slide {
			transform: scale(0.7);
			transition:
				transform 300ms ease-in-out 0.2s,
				opacity 300ms;
			opacity: 0.4;
			.imagesSlide {
				width: 70%;
			}
		}
		@media (max-width: 470px) {
			transform: scale(0.9);
			transition:
				transform 300ms ease-in-out 0.2s,
				opacity 300ms;
			opacity: 2;
		}
		@media (max-width: 400px) {
			transform: scale(0.4);
			transition:
				transform 300ms ease-in-out 0.2s,
				opacity 400ms;
			opacity: 1;
		}

		.activeSlide {
			transform: scale(1);
			opacity: 1;
			.imagesSlide {
				width: 70%;
			}
		}

		.arrow_next,
		.arrow_prev {
			position: absolute;
			cursor: pointer;
			z-index: 10;
			@media (max-width: 768px) {
				display: none;
			}
		}

		.arrow_prev h1 {
			margin: 0;
		}

		.arrow_next {
			left: 93%;
			top: 50%;
			transform: translateY(-50%);
		}

		.arrow_prev,
		.arrow_prev {
			right: 100%;
			top: 50%;
			transform: translateY(-50%);
		}

		@media (max-width: 600px) {
			.arrow_next {
				right: 50px;
				top: 60%;
				transform: translateY(-50%);
			}

			.arrow_prev {
				left: 50px;
				top: 60%;
				transform: translateY(-50%);
			}
		}

		@media (max-width: 510px) {
			.arrow_next {
				right: 80px;
				top: 44%;
				transform: translate(-50%);
			}
			.arrow_prev {
				right: 0px;
				top: 45%;
				transform: translate(-50%);
			}
		}

		@media (max-width: 470px) {
			.arrow_next {
				right: -30px;
				top: 44%;
				transform: translate(-50%);
			}
			.arrow_prev {
				right: -60px;
				top: 45%;
				transform: translate(-50%);
			}
		}

		.arrow_prev:hover {
			color: aqua;
		}

		.arrow_next:hover {
			color: aqua;
		}
	}
}
