@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';
.containers {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.content {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
	margin-top: 126.5px;
}

.box {
	display: flex;
	justify-content: space-between;
	margin-top: 5%;
	width: 100%;
}
.fallback-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}
.slick-list {
	width: 54rem;
	padding-left: -3rem;
}
.slide img {
	width: 300px;
	height: 468px;
	opacity: 0px;
}

.description-box .description {
	width: 100%;
	font-size: 11px;
	overflow-wrap: break-word;
}

.box .price {
	font-family: Open Sans;
	font-size: 16px;
	font-weight: 600;
	line-height: 20.8px;
	color: #ff4c00;
}
.box .read-more {
	font-family: Open Sans;
	font-size: 14px;
	font-weight: 400;
	line-height: 18.2px;
	text-align: left;
	text-decoration: underline;
	cursor: pointer;
	color: #ff4c00;
}

.description-box {
	width: 100%;
}

.slide {
	transform: scale(0.69);
	transition: transform 300ms;

	width: 300px;
	position: relative;
	opacity: 0.8;
}

.activeSlide {
	transform: scale(0.9);
	width: 300px;
	height: 600px;
	position: relative;
	z-index: 100;
	opacity: 1;
}

.arrow {
	position: absolute;
	cursor: pointer;
	z-index: 10;
}

.scroll-line {
	position: absolute;
	margin-top: 30%;
	left: 70%;
	transform: translateX(-50%);
	width: calc(50% - 20px);
	height: 2px;
	background-color: hsl(0, 0%, 80%);
	z-index: 0;
}

.title {
	width: 80%;
}

.see_orange {
	color: #ff4c00;
}

.active-line {
	position: absolute;
	left: 0;
	height: 2px;
	background-color: #ff4c00;
	z-index: 1;
}

.next {
	left: -25%;
	top: 90%;
}

.prev {
	left: -40%;
	top: 90%;
}

@media screen and (max-width: 1350px) {
	.containers {
		display: inline-block;
	}
	.slide {
		top: 80px;
	}
	.activeSlide {
		transform: scale(0.8);
	}
	.content {
		width: 100%;
		height: 100%;
	}

	.box {
		width: 30%;
	}
	.slide img {
		width: 260px;
		height: 408px;
	}

	.slick-list {
		width: 58rem;
	}

	.slide .price {
		top: 480px;
	}

	.description-box {
		width: 60%;
	}
	.scroll-line {
		display: none;
	}
}

@media screen and (max-width: 1000px) {
	.slide img {
		width: 260px;
		height: 428px;
	}

	.slick-list {
		width: 54rem;
	}

	.slide .price {
		top: 460px;
	}

	.prev {
		left: -8%;
	}

	.arrow svg {
		width: 3rem;
		height: 3rem;
	}
}
@media screen and (max-width: 900px) {
	.slide img {
		width: 260px;
		height: 428px;
	}

	.slick-list {
		width: 46rem;
	}

	.slide .price {
		top: 460px;
	}

	.prev {
		left: -8%;
	}

	.arrow svg {
		width: 3rem;
		height: 3rem;
	}
}

@media screen and (max-width: 800px) {
	.slide img {
		width: 230px;
		height: 358px;
	}
	.scroll-line {
		display: none;
	}
	.slick-list {
		width: 40rem;
	}

	.slide .price {
		top: 440px;
		right: 0rem;
	}
	.arrow {
		display: none;
	}
	.scroll-line {
		bottom: 20%;
		left: 60%;
	}
	.description-box {
		width: 100%;
	}
}

@media (max-width: 767px) {
	.title {
		display: flex;
		flex-direction: column;
		gap: 15px;
		align-items: center;
		justify-content: center;
	}
}
@media screen and (max-width: 680px) {
	.slide img {
		width: 270px;
		height: 470px;
	}

	.slick-list {
		width: 37rem;
	}

	.slide .price {
		top: 400px;
		font-size: 14px;
	}
	.slide .name {
		font-size: 11px;
	}
	.slide .auth {
		font-size: 12px;
	}

	.arrow {
		display: none;
	}
	.scroll-line {
		bottom: 30%;
		left: 60%;
	}
}

@media screen and (max-width: 600px) {
	.joc {
		margin-top: 40px;
	}
	.keen-slider__slider img {
		width: 70%;
		height: 80%;
	}
	.keen-slider__slide {
		transform: scale(2);
	}
	.slick-list {
		width: 30rem;
	}

	.slide {
		transform: scale(0.67);
		transition: transform 100ms;
		width: 300px;
		position: relative;
		opacity: 0;
	}
	.activeSlide {
		transform: scale(1);
		width: 300px;
		height: 600px;
		position: relative;
		z-index: 100;
		opacity: 1;
		top: 50px;
	}
	.box {
		width: 50%;
	}
}
