.SubscribePageSection {
	padding: 0 20px;
	margin-top: 100px;

	.content {
		max-width: 1091px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 20px;
		margin: 0 auto;

		.title {
			width: 100%;
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			color: rgb(34, 34, 34);
			font-size: clamp(10px, 8vw, 20px);
			font-weight: 600;
			line-height: 120%;
			letter-spacing: 0px;
			text-align: left !important;
			margin-bottom: 45px;
		}

		@media (max-width: 1200px) {
			font-size: clamp(5px, 8vw, 10px);
		}
		@media (max-width: 767px) {
			font-size: clamp(4px, 4vw, 8px);
		}
		@media (max-width: 320px) {
			font-size: clamp(3px, 2vw, 6px);
		}
		.input_button {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;

			input {
				max-width: 955px;
				width: 100%;
				height: 42px;
				padding: 12px 18px;
				background-color: white;
				border: 0.5px solid rgb(196, 196, 196);
				outline: none;
				color: black;
			}

			.send_button {
				background: rgb(28, 28, 28);
				position: relative;
				width: 137px;
				height: 42px;
				padding: 10px 24px;
				border: none;
				cursor: pointer;
			}
		}

		.social_media {
			max-width: 701px;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin: 150px 0px;
			@media (max-width: 767px) {
				display: flex;
				gap: 15px;
				margin: 120px 0px;
			}
			@media (max-width: 450px) {
				flex-direction: column;
				margin: 90px 0px;
			}
			@media (max-width: 320px) {
				display: flex;
				flex-direction: column;
				margin-top: 20px;
				gap: 15px;
			}

			a {
				color: rgb(34, 34, 34);
				font-size: clamp(10px, 8vw, 22px);
				font-weight: 400;
				line-height: 130%;
				letter-spacing: 0px;
			}
		}
	}
}
