.search_container {
	display: flex;
	align-items: center;
	border: 1px solid rgb(196, 196, 196);
	max-width: 859px;
	padding-right: 18px;

	.search_icon {
		color: rgb(196, 196, 196);
	}

	&:focus-within {
		border: 1px solid rgb(243, 73, 1);
		background: transparent;
		.focused_icon {
			color: rgb(243, 73, 1);
		}
	}

	.genre_input {
		max-width: 859px;
		width: 100%;
		height: 40px;
		color: rgb(34, 34, 34);
		font-size: 14px;
		font-weight: 400;
		line-height: 130%;
		letter-spacing: 0px;
		padding: 8px 18px;
		text-align: left;
		background-color: rgb(250, 250, 250);
		box-sizing: border-box;
		outline: none;
		border: 1px solid transparent;
		border-right: 1px transparent;

		&:focus::placeholder {
			opacity: 0;
		}

		&:focus {
			color: #222222;
		}

		&:hover {
			background: transparent;
		}
	}
}

.login_input {
	max-width: 514px;
	width: 100%;
	height: 41px;
	color: rgb(34, 34, 34);
	font-size: 14px;
	font-weight: 400;
	line-height: 130%;
	letter-spacing: 0px;
	padding: 8px 18px;
	text-align: left;
	background-color: #e5e5e5;
	box-sizing: border-box;
	outline: none;
	border: 1px solid rgb(196, 196, 196);
	font-size: 16px;
	font-weight: 400;
	line-height: 130%;
	letter-spacing: 0px;
	text-align: left;
	color-scheme: auto;
}

.login_input:hover {
	border: 1px solid rgb(196, 196, 196);
	background: rgb(250, 250, 250);
}

.login_input:focus {
	background: rgb(250, 250, 250);
	outline: none;
	color: #222222;
}

.login_input:focus::placeholder {
	opacity: 0;
}

.password_container {
	display: flex;
	align-items: center;
	border: 1px solid rgb(196, 196, 196);
	max-width: 514px;
	width: 100%;
	height: 41px;
	padding-right: 18px;
	background-color: #e5e5e5;
	.eye_see_icon {
		color: #c4c4c4;
		cursor: pointer;
	}
	&:hover {
		// background-color: #f8f8f8;
	}
	&:focus {
		background-color: #f8f8f8;
	}
	.password_input {
		max-width: 514px;
		width: 100%;
		height: 41px;
		color: rgb(34, 34, 34);
		font-size: 14px;
		font-weight: 400;
		line-height: 130%;
		letter-spacing: 0px;
		padding: 8px 18px;
		text-align: left;
		background: transparent;
		box-sizing: border-box;
		outline: none;
		border: 1px solid #c4c4c4;
		font-size: 16px;
		font-weight: 400;
		line-height: 130%;
		letter-spacing: 0px;
		text-align: left;
		border-right: transparent;
		&:focus::placeholder {
			opacity: 0;
		}
		&:-webkit-autofill,
		&:-webkit-autofill:hover,
		&:-webkit-autofill:focus,
		textarea:-webkit-autofill,
		textarea:-webkit-autofill:hover,
		textarea:-webkit-autofill:focus,
		select:-webkit-autofill,
		select:-webkit-autofill:hover,
		select:-webkit-autofill:focus {
			-webkit-box-shadow: 0 0 0px 1000px #e5e5e5 inset;
			-webkit-text-fill-color: #000000;
		}
	}
}

.promo_container {
	display: flex;
	align-items: center;
	border: 1px solid rgb(196, 196, 196);
	max-width: 252px;
	width: 100%;
	height: 35px;
	padding-right: 18px;
	position: relative;
	&:focus-within {
		border: 1px solid rgb(243, 73, 1);
		background: transparent;
	}
	.promo_input {
		max-width: 252px;
		width: 100%;
		height: 35px;
		color: rgb(34, 34, 34);
		font-size: 14px;
		font-weight: 400;
		line-height: 130%;
		letter-spacing: 0px;
		padding: 8px 18px;
		text-align: left;
		background-color: transparent;
		box-sizing: border-box;
		outline: none;
		border: 1px solid transparent;
		font-size: 16px;
		font-weight: 400;
		line-height: 130%;
		letter-spacing: 0px;
		text-align: left;
		border-right: transparent;
		.promo_input:hover {
			border: 1px solid rgb(196, 196, 196);
			background: rgb(250, 250, 250);
		}

		.promo_input:focus {
			border: 1px solid transparent;
			background: rgb(250, 250, 250);
			outline: none;
			color: #222222;
		}
	}
	.promo_input:focus::placeholder {
		opacity: 0;
	}
	.icon_container {
		position: absolute;
		right: 20px;
		width: 18px;
		.icon {
			background-color: transparent;
			width: 16px;
			height: 16px;
			position: relative;
			.right {
				height: 16px;
				opacity: 0;
				transition: 0.2s;
				position: absolute;
			}
			.left {
				height: 16px;
				opacity: 100;
				transition: 0.4s;
				position: absolute;
			}
		}
		.close {
			background-color: transparent;
			width: 16px;
			height: 16px;
			position: relative;
			.right {
				height: 16px;
				opacity: 100;
				transition: 0.3s;
				position: absolute;
			}
			.left {
				height: 16px;
				opacity: 0;
				transition: 0.2s;
				position: absolute;
			}
		}
	}
}

.user_name_input {
	max-width: 449px;
	width: 100%;
	height: 39px;
	color: rgb(34, 34, 34);
	font-size: 14px;
	font-weight: 400;
	line-height: 130%;
	letter-spacing: 0px;
	padding: 8px 18px;
	text-align: left;
	background-color: transparent;
	box-sizing: border-box;
	outline: none;
	border: 1px solid rgb(196, 196, 196);
	font-size: 16px;
	font-weight: 400;
	line-height: 130%;
	letter-spacing: 0px;
	text-align: left;
}
.user_name_input:focus::placeholder {
	opacity: 0;
}
.input_error {
	max-width: 449px;
	width: 100%;
	height: 39px;
	color: rgb(34, 34, 34);
	font-size: 14px;
	font-weight: 400;
	line-height: 130%;
	letter-spacing: 0px;
	padding: 8px 18px;
	text-align: left;
	background-color: #ff000028;
	box-sizing: border-box;
	outline: none;
	border: 1px solid #ff0303;
	font-size: 16px;
	font-weight: 400;
	line-height: 130%;
	letter-spacing: 0px;
	text-align: left;
}
