.Book_info {
	.content {
		.content_text {
			font-size: 12px;
			display: flex;
			margin-bottom: 109px;
			.content_head {
				max-width: 300px;
				text-transform: uppercase;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}

			@media (max-width: 500px) {
				font-size: 9px;
			}
			@media (max-width: 420px) {
				margin-bottom: 60px;
			}
			@media (max-width: 350px) {
				font-size: 7px;
			}

			p {
				color: rgb(156, 156, 156);
			}
		}
		.contents_book {
			display: flex;
			justify-content: space-between;
			gap: 10px;

			@media (max-width: 880px) {
				justify-content: space-between;
			}
			@media (max-width: 420px) {
				flex-direction: column;
				align-content: center;
			}

			.section_about_book {
				display: flex;
				justify-content: start;
				max-width: max-content;
				width: 100%;
				gap: 20px;
				position: relative;
				@media (max-width: 420px) {
					display: flex;
					justify-content: center;
					max-width: 100%;
					margin-bottom: 30px;
				}
				.woman_book {
					position: relative;
					img {
						max-width: 357px;
						width: 100%;
						height: auto;
						@media (max-width: 768px) {
							max-width: 260px;
						}
						@media (max-width: 650px) {
							max-width: 230px;
						}
						@media (max-width: 480px) {
							max-width: 150px;
						}
						@media (max-width: 420px) {
							max-width: 180px;
						}
					}
				}
			}
			.section_content_text {
				display: flex;
				flex-direction: column;
				justify-content: end;
				max-width: 504px;
				width: 100%;
				margin-top: 76px;
				@media (max-width: 768px) {
					max-width: 405px;
					margin-top: 0px;
				}
				@media (max-width: 650px) {
					max-width: 330px;
					margin-top: 0px;
				}
				@media (max-width: 480px) {
					max-width: 270px;
				}
				@media (max-width: 420px) {
					max-width: 380px;
				}
				.section_title {
					h3 {
						color: rgb(34, 34, 34);
						font-size: 28px;
						font-weight: 600;
						font-family: Open Sans;
						line-height: 130%;
						letter-spacing: 0px;
						text-align: left;
						max-width: 501px;
						width: 100%;
						color: rgb(34, 34, 34);
						font-family: 'Open Sans', sans-serif;
						font-size: 14px;
						font-weight: 600;
						line-height: 120%;
						text-align: left;
						text-transform: uppercase;
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
						@media (max-width: 1020px) {
							font-size: 26px;
						}
						@media (max-width: 650px) {
							font-size: 21px;
						}
						@media (max-width: 480px) {
							font-size: 16px;
						}
					}
				}

				.section_mony {
					margin-top: 40px;
					display: flex;
					align-items: center;
					gap: 140px;
					margin-top: 40px;
					@media (max-width: 650px) {
						margin-top: 20px;
					}

					p {
						color: #f34901;
						color: rgb(243, 73, 1);
						font-size: 16px;
						font-family: Open Sans;
						font-weight: 600;
						line-height: 120%;
						letter-spacing: 0px;
						text-align: left;
						@media (max-width: 650px) {
							font-size: 11px;
						}
						@media (max-width: 480px) {
							font-size: 10px;
						}
					}

					#audioPlayer {
						width: 100%;
						max-width: 600px;
						outline: none;
						background-color: #ffffff;
						border: 1px solid #ddd;
						border-radius: 8px;
						box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
						padding: 10px;
					}

					.audio_container {
						display: flex;
						justify-content: center;
						align-items: center;
						padding: 20px;
						background-color: #f9f9f9;
						border-radius: 8px;
						box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
						margin: 20px auto;
						max-width: 80%;
						max-height: 50px;
					}

					.audioBook {
						max-width: 300px;
						width: 100%;
					}

					.audioBook audio {
						padding: 8px;
						width: 100%;
						height: 50px;
						background-color: rgb(243, 79, 19);

						border: 1px solid #ccc;
						border-radius: 5px;
					}

					audio source {
						width: 100%;
						height: 40px;
						background: transparent;
					}
				}

				.section_info {
					max-width: 401px;
					width: 100%;
					display: flex;
					justify-content: space-between;
					margin-top: 40px;
					gap: 30px;

					@media (max-width: 650px) {
						margin-top: 30px;
					}

					.section_info_name {
						display: flex;
						flex-direction: column;
						gap: 10px;

						p {
							color: rgb(34, 34, 34);
							font-size: 14px;
							font-family: Open Sans;
							font-weight: 600;
							line-height: 130%;
							letter-spacing: 0px;
							text-align: left;
							@media (max-width: 650px) {
								font-size: 12px;
							}
							@media (max-width: 480px) {
								font-size: 10px;
							}
						}
					}
					.section_info_two {
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						gap: 10px;

						p {
							color: rgb(34, 34, 34);
							font-size: 14px;
							font-family: Open Sans;
							font-weight: 400;
							line-height: 130%;
							letter-spacing: 0px;
							text-align: left;
							max-width: 200px;
							width: 100%;
							color: rgb(34, 34, 34);
							font-family: 'Open Sans', sans-serif;
							font-size: 14px;
							font-weight: 600;
							line-height: 120%;
							text-align: left;
							text-transform: capitalize;
							overflow: hidden;
							white-space: nowrap;
							text-overflow: ellipsis;
							@media (max-width: 650px) {
								font-size: 12px;
							}
							@media (max-width: 480px) {
								font-size: 10px;
							}
						}
					}
				}

				.section_book {
					display: flex;
					justify-content: space-between;
					max-width: 468px;
					width: 100%;
					gap: 20px;
					margin-top: 76px;
					@media (max-width: 650px) {
						margin-top: 50px;
					}
					@media (max-width: 480px) {
						margin-top: 30px;
					}

					.favorite_btn {
						max-width: 224px;
						width: 100%;
						color: rgb(243, 73, 1);
						background-color: transparent !important;
						cursor: pointer;
						box-sizing: border-box;
						border: 1px solid rgb(243, 73, 1);
						&:hover {
							color: #ebebeb;
							background-color: #f34901 !important;
						}
						@media (max-width: 1020px) {
							p {
								font-size: 12px;
							}
						}
						@media (max-width: 768px) {
							max-width: 180px;
						}
						@media (max-width: 650px) {
							p {
								font-size: 11px;
								font-weight: 500;
							}
						}
						@media (max-width: 480px) {
							padding: 7px 15px !important;
							p {
								font-size: 10px;
							}
						}
					}
					.basket_btn {
						width: 100%;
						@media (max-width: 1020px) {
							p {
								font-size: 12px;
							}
						}
						@media (max-width: 768px) {
							max-width: 180px;
						}
						@media (max-width: 650px) {
							p {
								font-size: 11px;
								font-weight: 500;
							}
						}
						@media (max-width: 480px) {
							padding: 8px 15px !important;
							p {
								font-size: 10px;
							}
						}
					}
				}
			}
		}

		.section_text_books {
			display: flex;
			justify-content: space-between;
			margin-top: 123px;
			max-width: 1300px;
			width: 100%;

			@media (max-width: 780px) {
				justify-content: center;
			}
			@media (max-width: 420px) {
				margin-top: 90px;
				flex-direction: column;
			}

			.section_show_info {
				display: flex;
				flex-direction: column;
				justify-content: start;
				max-width: 578px;
				width: 100%;
				@media (max-width: 768px) {
					margin-right: 5px;
				}

				.show_info_book {
					max-width: 302px;
					width: 100%;
					display: flex;
					justify-content: space-between;

					p {
						color: rgb(196, 196, 196);
						font-size: 18px;
						font-family: Open Sans;
						font-weight: 600;
						line-height: 130%;
						letter-spacing: 0px;
						text-align: left;
						cursor: pointer;
						&:focus {
							color: rgb(243, 73, 1);
						}
						@media (max-width: 768px) {
							font-size: 16px;
						}
						@media (max-width: 480px) {
							font-size: 14px;
						}
					}
					.color_text {
						color: rgb(243, 73, 1);
					}
				}
				::-webkit-scrollbar {
					width: 4px;
					border-radius: 2px;
				}
				::-webkit-scrollbar-thumb {
					background-color: #b8b6b6;
					border: 4px solid rgb(182, 182, 182);
				}
				::-webkit-scrollbar-track {
					background-color: #ebebeb;
				}
				.book_info {
					max-width: 478px;
					width: 100%;
					color: rgb(34, 34, 34);
					font-size: 16px;
					font-family: Open Sans;
					font-weight: 400;
					line-height: 150%;
					letter-spacing: 0px;
					text-align: left;
					max-height: 696px;
					width: 100%;
					margin-bottom: 149px;
					margin-top: 84px;
					overflow: auto;
					overflow-y: auto;
					word-wrap: break-word;
					white-space: pre-wrap;

					@media (max-width: 768px) {
						max-width: 450px;
						max-height: 300px;
						font-size: 14px;
					}
					@media (max-width: 480px) {
						font-size: 11px;
						margin-top: 50px;
					}
				}
			}
			.info_img {
				max-width: 385px;
				width: 100%;
				display: flex;
				justify-content: end;
				width: fit-content;
				height: fit-content;
				margin-bottom: 107px;
				img {
					max-width: 385px;
					width: 100%;
				}
				@media (max-width: 460px) {
					img {
						width: 100%;
					}
				}
			}
		}
	}
}
.modal_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 23px 0px;
	.info_text {
		display: flex;
		justify-content: center;
		p {
			display: flex;
			flex-direction: column;
			color: rgb(0, 0, 0);
			font-family: Open Sans;
			font-size: 18px;
			font-weight: 400;
			line-height: 130%;
			letter-spacing: 0px;
			text-align: center;
			width: 100%;
			text-transform: capitalize;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
}
.modal_devation {
	display: flex;
	flex-direction: column;
	gap: 18px;
	.text_devation {
		color: #222222;
		font-family: Open Sans;
		font-size: 16px;
		font-weight: 600;
		line-height: 130%;
		letter-spacing: 0px;
		text-align: left;
		margin: 0px;
	}
	.input_devatoin {
		max-width: 483px;
		width: 100%;
		outline: none;
		padding: 8px 13px;
		height: 100%;
		background-color: #ffffff;
		color: #222222;
		border: 1px solid rgb(196, 196, 196);
	}
	.btn_devation {
		border: none;
		outline: none;
		align-self: flex-end;
		padding: 10px 24px;
		color: rgb(255, 255, 255);
		font-family: Open Sans;
		font-size: 16px;
		font-weight: 600;
		line-height: 22px;
		letter-spacing: 0px;
		text-align: left;
		background-color: black;
		max-width: 140px;
		width: 100%;
	}
}
.modal_deviation {
	width: 100%;
	height: 200px;
	.text_deviation {
		color: rgb(34, 34, 34);
		font-family: Open Sans;
		font-size: 16px;
		font-weight: 600;
		line-height: 130%;
		letter-spacing: 0px;
		text-align: left;
		margin-bottom: 18px;
	}
	.input_deviation {
		resize: none;
		max-width: 483px;
		max-height: 108px;
		width: 100%;
		background-color: #fff;
		border: 1px solid rgb(196, 196, 196);
		padding: 10px;
		box-sizing: border-box;
		text-align: left;
		outline: none;
		color: black;
		margin-bottom: 18px;
		text-align: start;
		&:focus {
			&::placeholder {
				opacity: 0;
			}
		}
		&::placeholder {
			text-align: top;
			vertical-align: middle;
		}
	}
	button {
		max-width: 137px;
		width: 100%;
		height: 42px;
		left: 366px;
		right: 20px;
		top: 185px;
		bottom: 20px;
		background: rgb(28, 28, 28);
		border: none;
		padding: 10px 24px 10px 24px;
	}
}
