.inner_profile_page_container {
	margin-bottom: 80px;
	.inner_test {
		position: relative;
		z-index: 555;
	}
	.inner_head_text {
		font-family: Open Sans;
		font-size: 14px;
		font-weight: 400;
		line-height: 16.8px;
		text-align: left;
		font-size: 12px;
		padding-bottom: 50px;
		span {
			color: #969696;
		}
	}

	.inner_profile_text {
		display: flex;
		justify-content: space-evenly;
		position: relative;
		z-index: 222;
		padding-bottom: 70px;

		@media (max-width: 380px) {
			gap: 50px;
		}
		@media (max-width: 330px) {
			gap: 20px;
		}

		.active {
			color: #f10000;
			border-bottom: 2px solid #f10000;
			padding-bottom: 10px;
		}

		.inner_text_two {
			cursor: pointer;
			font-family: Open Sans;
			font-size: 16px;
			font-weight: 400;
			line-height: 20.8px;
			text-align: left;
		}
		.inner_text_one {
			cursor: pointer;
			font-family: Open Sans;
			font-size: 16px;
			font-weight: 600;
			line-height: 20.8px;
			text-align: left;
		}
	}
}
