.profile_history {
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 40px;

	.head_text {
		font-size: 12px;
		padding-bottom: 50px;
		span {
			color: #969696;
		}
	}

	.content {
		width: 100%;

		.prof_info_text {
			font-size: 13px;
			display: flex;
			border-bottom: 2px solid lightgray;
			padding-bottom: 15px;
			justify-content: space-between;
			gap: 0px 10px;
			@media (max-width: 1100px) {
				display: none;
			}

			.prof_item_one {
				font-family: Open Sans;
				font-size: 14px;
				font-weight: 400;
				line-height: 18.2px;
				text-align: left;
				color: #545454;
				max-width: 130px;
				width: 100%;
			}
			.info_tes_two_history {
				width: 82%;
				display: flex;
				justify-content: space-between;

				.item_flex {
					width: 64%;
					display: flex;
					justify-content: space-between;
					padding-left: 10px;
					p {
						&:nth-child(3n) {
							padding-right: 10px;
						}
					}
				}
				.item_flex_none {
					width: 40%;
					display: flex;
					justify-content: space-between;
				}

				.item_two,
				.item_tree,
				.item_four,
				.item_five,
				.item_sics,
				.item_seven {
					font-family: Open Sans;
					font-size: 14px;
					font-weight: 400;
					line-height: 18.2px;
					text-align: left;
				}
			}
			.info_tes_two {
				width: 82%;
				display: flex;
				justify-content: space-between;

				.item_flex {
					width: 70%;
					display: flex;
					justify-content: space-between;
				}
				.item_flex_none {
					width: 40%;
					display: flex;
					justify-content: space-between;
					padding-right: 30px;
				}
				.item_flex_cart {
					width: 48%;
					display: flex;
					justify-content: space-between;
					padding-right: 50px;
				}
				.styling {
					display: flex;
					justify-content: space-between;
					width: 28%;
				}

				.item_two,
				.item_tree,
				.item_four,
				.item_five,
				.item_sics,
				.item_seven {
					font-family: Open Sans;
					font-size: 14px;
					font-weight: 400;
					line-height: 18.2px;
					text-align: left;
				}
			}
		}

		.prof_info_history {
			display: flex;
			justify-content: space-between;

			.prof_line_prof {
				border-right: 1px solid lightgray;
				padding: 0 1rem;
				margin-right: 15px;

				@media (max-width: 1100px) {
					border-right: none;
				}
			}

			@media (max-width: 900px) {
				display: inline-block;
				width: 100%;
			}
			@media (max-width: 700px) {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}
			@media (max-width: 500px) {
				font-size: 15px;
			}

			.prof_map_section {
				width: 100%;

				.line {
					border-bottom: 1px solid lightgray;
				}

				.empty_message {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					width: 100%;
				}

				.book_map_info {
					width: 100%;
					display: flex;
					gap: 20px;
					align-items: center;
					padding: 20px 0;

					@media (max-width: 1100px) {
						display: inline-block;
						padding: 40px;
					}

					.book_image {
						width: 82px;
						height: 132px;
						border-radius: 0;

						@media (max-width: 600px) {
							width: 120px;
						}
						@media (max-width: 400px) {
							width: 90px;
						}
					}

					.book_flex_x {
						display: flex;
						justify-content: space-between;
						width: 100%;

						.flex_book_x {
							display: flex;
							justify-content: space-between;
							width: 46%;
						}
						.flex_book_x_history {
							display: flex;
							justify-content: space-between;
							width: 68%;
						}
						.flex_book_x_cart {
							display: flex;
							justify-content: space-between;
							width: 50%;
						}
						.flex_book_cart {
							display: flex;
							justify-content: start;
							width: 30%;
							margin-left: 30px;
							padding-left: 50px;
						}
					}
					.flex_book_history {
						width: 27%;
						display: flex;
						justify-content: space-around;
					}
					.flex_book {
						width: 36%;
						display: flex;
						justify-content: space-between;
						margin-left: 50px;
						padding-left: 45px;

						.pprom {
							font-size: 12px;
							color: red;
						}

						.scitd_one {
							width: 50%;
							display: flex;
							justify-content: space-between;
						}

						.scitd {
							display: flex;
							align-items: center;
							gap: 10px;
						}
					}

					.book_name_end {
						p {
							max-width: 200px;
							font-size: 14px;
							font-weight: 600;
							line-height: 120%;
							text-align: left;
							text-transform: uppercase;
							overflow: hidden;
							white-space: nowrap;
							text-overflow: ellipsis;
						}

						.book_name_people {
							font-family: Open Sans;
							font-size: 14px;
							font-weight: 600;
							line-height: 120%;
							text-align: left;
							text-transform: uppercase;
							overflow: hidden;
							white-space: nowrap;
							text-overflow: ellipsis;
							color: #969696;
						}
					}
					.book_quantity_history {
						width: 10%;
					}
					.book_quantity,
					.book_price,
					.book_data,
					.book_state {
						font-family: Open Sans;
						font-size: 16px;
						font-weight: 400;
						line-height: 20.8px;
						text-align: left;
					}
				}
			}
		}

		.text_book {
			margin-top: 40px;
			font-family: Open Sans;
			font-size: 16px;
			font-weight: 400;
			line-height: 20.8px;

			.navigate_books_history,
			.navigate_books,
			.navigate_books_cor {
				color: #222222;
				margin-top: 40px;
				cursor: pointer;

				&.navigate_books_active_history,
				&.navigate_books_active,
				&.navigate_books_active_cor {
					color: #ff4c00;
				}
			}

			p {
				padding: 10px;
			}

			@media (max-width: 900px) {
				display: flex;
			}
			@media (max-width: 495px) {
				display: inline-block;
			}
		}
	}
}
