.SearchSection {
	.content {
		.title_navigate {
			margin-bottom: 36px;
			p {
				.home {
					cursor: pointer;
					color: rgb(156, 156, 156);
					font-size: 12px;
					font-weight: 500;
					line-height: 130%;
					letter-spacing: 0px;
					text-align: left;
				}
				.genre {
					cursor: pointer;
					color: black;
					font-size: 14px;
					font-weight: 600;
					line-height: 130%;
					letter-spacing: 0px;
					text-align: left;
				}
			}
		}
		.info_filtred {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			margin-bottom: 33px;
			gap: 10px;
			position: relative;
			.left_content {
				p {
					color: rgb(150, 150, 150);
					font-size: 14px;
					font-weight: 400;
					line-height: 130%;
					letter-spacing: 0px;
					text-align: center;
					@media (max-width: 768px) {
						font-size: 12px;
					}
				}
			}

			.center_content {
				display: flex;
				justify-content: start;
				flex-wrap: wrap;
				gap: 20px;
				margin-left: 6px;
				max-width: 950px;
				width: 100%;
				@media (max-width: 1067px) {
					justify-content: start;
				}
				.selcet_filter {
					display: flex;
					align-items: center;
					gap: 10px;
					padding: 11px 24px;
					border: 1px solid rgb(196, 196, 196);
					cursor: pointer;
					button {
						margin: 0px;
						outline: none;
						border: none;
						background-color: transparent;
					}
					@media (max-width: 768px) {
						padding: 11px 18px;
						gap: 0px;
					}
					@media (max-width: 550px) {
						max-width: 230px;
						padding: 5px 15px;
					}
					p {
						color: rgb(34, 34, 34);
						font-size: 14px;
						font-weight: 400;
						line-height: 130%;
						letter-spacing: 0px;
						text-align: left;
						@media (max-width: 550px) {
							font-size: 12px;
						}
					}
				}
			}
			.tool {
				display: flex;
				justify-content: end;
				@media (max-width: 1000px) {
					display: none;
				}
			}
			.right_content {
				display: flex;
				align-items: center;
				gap: 10px;
				cursor: pointer;
				p {
					user-select: none;
					color: #222222;
					font-size: 16px;
					font-weight: 400;
					line-height: 130%;
					letter-spacing: 0px;
					text-align: left;
					@media (max-width: 768px) {
						font-size: 14px;
					}
				}

				.rightIcon {
					.arrow_bottom {
						transform: rotate(-180deg);
						transition: 0.3s;
					}
					.arrow_top {
						transition: 0.2s;
					}
				}
			}
			.rightIcon {
				.arrow_bottom {
					transform: rotate(-180deg);
					transition: 0.3s;
				}
				.arrow_top {
					transition: 0.2s;
				}
			}
			.sort_down {
				display: flex;
				max-width: 151px;
				width: 100%;
				padding: 20px;
				position: absolute;
				right: -20px;
				top: -10px;
				cursor: default;
				user-select: none;
				opacity: 0;
				z-index: -222;
				box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
				background-color: #f8f8f8;
				transition: 0.2s;
				@media (max-width: 718px) {
					left: -5px;
					top: 70px;
				}
				ul {
					display: flex;
					flex-direction: column;
					justify-content: start;
					user-select: none;
					width: 100%;
					li {
						color: rgb(34, 34, 34);
						font-family: Open Sans;
						font-size: 14px;
						font-weight: 400;
						line-height: 130%;
						letter-spacing: 0px;
						text-align: left;
						cursor: pointer;
					}
					hr {
						margin-top: 6.75px;
						margin-bottom: 8.25px;
						border: none;
						border-top: 0.5px solid rgb(196, 196, 196);
					}
				}
			}
			.sort_drop {
				display: flex;
				max-width: 151px;
				width: 100%;
				padding: 20px;
				position: absolute;
				right: -20px;
				top: 50px;
				z-index: 222;
				box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
				background-color: #f8f8f8;
				transition: 0.2s;
				@media (max-width: 718px) {
					left: -5px;
					top: 92px;
				}
				ul {
					display: flex;
					flex-direction: column;
					justify-content: start;
					user-select: none;
					width: 100%;
					li {
						color: rgb(34, 34, 34);
						font-family: Open Sans;
						font-size: 14px;
						font-weight: 400;
						line-height: 130%;
						letter-spacing: 0px;
						text-align: left;
						cursor: pointer;
					}
					hr {
						margin-top: 6.75px;
						margin-bottom: 8.25px;
						border: none;
						border-top: 0.5px solid rgb(196, 196, 196);
						&:last-child {
							display: none;
						}
					}
				}
			}
		}
		.container {
			display: flex;
			gap: 58px;
			margin-bottom: 25px;

			.burgermenu_filters {
				display: none;
				@media (max-width: 768px) {
					display: flex;
					position: absolute;
					top: 0px;
					left: 7px;
				}
			}

			.filtred_container {
				max-width: 266px;
				width: 100%;
				position: relative;
				top: 20px;
				transition: 0.3s;
				@media (max-width: 768px) {
					max-width: 306px;
					position: absolute;
					height: 100vh;
					top: 25px;
					left: -20px;
					z-index: 5;
					padding: 20px 20px 20px 15px;
					background-color: #fefefe;
				}
				hr {
					max-width: 266px;
					width: 100%;
					margin-bottom: 14.5px;
				}
				.genre_fillter {
					display: flex;
					justify-content: space-between;
					width: 100%;
					cursor: pointer;
					margin-bottom: 9.5px;
					padding-bottom: 6.5px;
					border-bottom: solid 1px #8b8b8b;
					p {
						width: 100%;
						user-select: none;
					}
					.arrow_bottom {
						transform: rotate(-180deg);
						transition: 0.3s;
					}
					.arrow_top {
						transition: 0.2s;
					}
				}
				.type_fillter {
					display: flex;
					align-items: center;
					justify-content: space-between;
					cursor: pointer;
					user-select: none;
					margin-bottom: 9.5px;
					padding-bottom: 6.5px;
					border-bottom: solid 1px #8b8b8b;

					.arrow_bottom {
						transform: rotate(-180deg);
						transition: 0.3s;
					}
					.arrow_top {
						transition: 0.2s;
					}
				}
				.price_fillter {
					display: flex;
					align-items: center;
					justify-content: space-between;
					cursor: pointer;
					user-select: none;
					margin-bottom: 9.5px;
					padding-bottom: 6.5px;
					border-bottom: solid 1px #8b8b8b;

					.arrow_bottom {
						transform: rotate(-180deg);
						transition: 0.3s;
					}
					.arrow_top {
						transition: 0.2s;
					}
				}
				.language_fillter {
					display: flex;
					align-items: center;
					justify-content: space-between;
					cursor: pointer;
					user-select: none;
					margin-bottom: 9.5px;
					padding-bottom: 6.5px;
					border-bottom: solid 1px #8b8b8b;

					.arrow_bottom {
						transform: rotate(-180deg);
						transition: 0.3s;
					}
					.arrow_top {
						transition: 0.2s;
					}
				}

				.fillters {
					display: flex;
					flex-direction: column;
					gap: 16px;
					user-select: none;
					margin-bottom: 38px;
					overflow: auto;
					max-height: 377px;
					height: max-content;
					opacity: 100%;
					transition: 0.3s;
					.checkbox {
						display: flex;
						align-items: center;
						justify-content: start;
						gap: 20px;
						cursor: pointer;
						user-select: none;
						max-width: 266px;
						width: 100%;
						.checkbox_jenre {
							width: 26px;
							height: 26px;
						}
						.price_value_content {
							max-width: 266px;
							width: 100%;
							box-sizing: border-box;
							.value_price {
								display: flex;
								justify-content: center;
								max-width: 266px;
								width: 100%;
								gap: 20px;
								margin-bottom: 20px;
								p {
									max-width: 123px;
									width: 100%;
									border: 1px solid #c4c4c4;
									padding: 8px 0px;
									color: rgb(34, 34, 34);
									font-family: Open Sans;
									font-size: 16px;
									font-weight: 400;
									line-height: 130%;
									letter-spacing: 0px;
									text-align: center;
								}
							}
							.price_range {
								display: flex;
								width: 210px !important;
								box-sizing: border-box;
								margin: 10px auto;

								:global {
									.ant-slider-rail {
										max-width: 220px;
										width: 100%;
										height: 2px;
										background-color: #c4c4c4;
										border-radius: 0px;
									}
									.ant-slider-track {
										top: 4px;
										height: 2px;
										background-color: #f34901;
									}
									.ant-slider-handle::after {
										width: 24px;
										height: 24px;
										top: -7px;
										box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
									}
									.ant-slider-step {
										max-width: 254px;
										width: 100%;
									}
								}
							}
						}
					}
				}
				.none {
					position: relative;
					opacity: 0;
					height: 0px;
					z-index: -100;
					user-select: none;
					transition: 0.4s;
					.checkbox {
						display: flex;
						align-items: center;
						justify-content: start;
						gap: 20px;
						cursor: pointer;
					}
				}
			}
			@media (max-width: 768px) {
				padding-top: 20px;
				.none_style {
					position: absolute;
					top: 25px;
					left: -400px;
					opacity: 0;
					transition: 0.3s;
				}
			}
			.container_books {
				display: flex;
				flex-wrap: wrap;
				gap: 0px 20px;
				width: 100%;
				max-height: 1600px;
				overflow: auto;

				@media (max-width: 850px) {
					max-width: 726px;
					width: 100%;
					padding: 0px 5px;
				}
				@media (max-width: 768px) {
					padding-top: 10px;
					display: grid;
					grid-template-columns: 1fr 1fr 1fr;
				}
				@media (max-width: 550px) {
					display: grid;
					grid-template-columns: 1fr 1fr;
				}
				.card_book {
					max-width: 224px;
					width: 100%;
					color: #f34901;
					margin-bottom: 25px;
					position: relative;
					cursor: pointer;
					@media (max-width: 370px) {
						max-width: 140px;
						width: 100%;
					}
					.favorite_icon {
						position: absolute;
						top: -10px;
						right: 20px;
						opacity: 0%;
						transition: 0.4s;
						cursor: pointer;
					}
					&:hover {
						.favorite_icon {
							top: 20px;
							right: 20px;
							opacity: 100%;
							transition: 0.4s;
						}
						.audio_icon {
							position: absolute;
							top: 20px;
							left: 20px;
							user-select: none;
							opacity: 100;
							z-index: 1;
							transition: 0.4s;
						}
					}
					.audio_icon {
						position: absolute;
						top: 0px;
						left: 20px;
						z-index: -2;
						opacity: 0;
						user-select: none;
						transition: 0.4s;
					}

					img {
						max-width: 224px;
						width: 100%;
						user-select: none;
						margin-bottom: 12px;
						height: 340px;
					}
					.card_description {
						display: flex;
						flex-direction: column;
						align-items: start;
						text-align: start;
						gap: 8px;
						h3 {
							color: rgb(34, 34, 34);
							font-size: 14px;
							font-weight: 600;
							line-height: 120%;
							letter-spacing: 0px;
							text-align: left;
							text-transform: uppercase;
							text-transform: uppercase;
							overflow: hidden;
							white-space: nowrap;
							text-overflow: ellipsis;
							max-width: 200px;
							@media (max-width: 550px) {
								font-size: 12px;
							}
						}
						P {
							color: rgb(34, 34, 34);
							font-size: 14px;
							font-weight: 400;
							line-height: 120%;
							letter-spacing: 0px;
							text-align: left;
							text-transform: uppercase;
							overflow: hidden;
							white-space: nowrap;
							text-overflow: ellipsis;
							max-width: 200px;
							@media (max-width: 550px) {
								font-size: 11px;
							}
							&:last-child {
								color: rgb(34, 34, 34);
								font-size: 14px;
								font-weight: 600;
								line-height: 120%;
								letter-spacing: 0px;
								text-align: left;
								@media (max-width: 550px) {
									font-size: 11px;
								}
							}
						}
					}
					.btn_basket {
						margin-top: 8px;
						opacity: 0;
						transition: 0.3s;
						p {
							color: rgb(255, 255, 255);
							font-family: Open Sans;
							font-size: 14px;
							font-weight: 600;
							line-height: 120%;
							letter-spacing: 0px;
							text-align: left;
							padding: 0px 16px;
						}
					}
					&:hover {
						.btn_basket {
							opacity: 100;
							margin-bottom: 20px;
							transition: 0.4s;
							p {
								color: rgb(255, 255, 255);
								font-family: Open Sans;
								font-size: 14px;
								font-weight: 600;
								line-height: 120%;
								letter-spacing: 0px;
								text-align: left;
								padding: 0px 16px;
							}
						}
					}
				}
			}
			.btn_morebook {
				margin-bottom: 25px;
				width: 100%;

				@media (max-width: 850px) {
					display: grid;
					grid-column-start: 1;
					grid-column-end: 3;
				}
				button {
					color: rgb(150, 150, 150);
					font-family: Open Sans;
					font-size: 14px;
					font-weight: 400;
					line-height: 120%;
					letter-spacing: 0px;
					text-align: center;
					border-radius: 0px;
					width: 100%;
					outline: none;
					border: 1px solid #c4c4c4;
					background-color: transparent;
					padding: 10px 0px;
					cursor: pointer;
					&:hover {
						color: #f8f8f8;
						background-color: #f34901;
					}
				}
			}
		}
	}
}

.Toastify__progress-bar--anim {
	background-color: #f34901;
}
::-webkit-scrollbar-track {
	background: white !important;
}
