.ProfileHistorySection {
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 0px;

	.head_text {
		font-size: 12px;
		padding-bottom: 50px;
		span {
			color: #969696;
		}
	}

	.content {
		width: 100%;

		.line_profile {
			width: 1220px;

			@media (max-width: 1320px) {
				width: 1100px;
			}
			@media (max-width: 1160px) {
				width: 1000px;
			}
			@media (max-width: 1060px) {
				width: 900px;
			}
			@media (max-width: 970px) {
				display: none;
			}
		}
		.info_text {
			font-size: 13px;
			display: flex;
			border-bottom: 2px solid lightgray;
			padding-bottom: 15px;
			justify-content: space-between;

			@media (max-width: 970px) {
				display: none;
			}
			.item_one {
				font-family: Open Sans;
				font-size: 14px;
				font-weight: 400;
				line-height: 18.2px;
				text-align: left;
				color: #545454;
			}

			.info_text_two {
				width: 78%;
				display: flex;
				justify-content: space-between;

				.item_two,
				.item_three,
				.item_four,
				.item_five,
				.item_six,
				.item_seven {
					font-family: Open Sans;
					font-size: 14px;
					font-weight: 400;
					line-height: 18.2px;
					text-align: left;
				}
			}
		}

		.info_history {
			display: flex;
			justify-content: space-between;
			.line_ {
				border-right: 1px solid lightgray;
				padding: 0 1rem;

				@media (max-width: 970px) {
					border-right: none;
				}
			}

			@media (max-width: 900px) {
				display: inline-block;
				width: 100%;
			}
			@media (max-width: 700px) {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}
			@media (max-width: 500px) {
				font-size: 15px;
			}

			.image_line {
				padding-left: 55px;
				@media (max-width: 970px) {
					display: none;
				}
			}
			.map_section {
				width: 80%;
				.line {
					border-bottom: 1px solid lightgray;
				}

				.book_map_info {
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding: 20px 0;
					img {
						max-width: 82px;
					}
					@media (max-width: 700px) {
						display: inline-block;
						padding: 40px;
					}
					.book_image {
						@media (max-width: 600px) {
							width: 120px;
						}
					}

					@media (max-width: 900px) {
						justify-content: space-evenly;
					}

					.book_name_end {
						display: flex;
						flex-direction: column;

						@media (max-width: 900px) {
							margin-top: 20px;
						}
						.book_name_people {
							font-family: Open Sans;
							font-size: 14px;
							font-weight: 400;
							line-height: 18.2px;
							text-align: left;

							color: #969696;
						}
					}

					.book_quantity {
						font-family: Open Sans;
						font-size: 16px;
						font-weight: 400;
						line-height: 20.8px;
						text-align: left;

						@media (max-width: 900px) {
							margin-top: 10px;
						}
					}
					.book_price {
						display: flex;
						flex-direction: column;
						align-items: center;
						font-family: Open Sans;
						font-size: 20px;
						font-weight: 400;
						line-height: 26px;
						text-align: left;

						@media (max-width: 900px) {
							margin-top: 10px;
						}
						span {
							color: rgb(150, 150, 150);
							font-family: Open Sans;
							font-size: 16px;
							font-weight: 300;
							line-height: 130%;
							letter-spacing: 0px;
							text-align: left;
							text-decoration-line: line-through;
						}
					}
					.book_data {
						font-family: Open Sans;
						font-size: 16px;
						font-weight: 400;
						line-height: 20.8px;
						text-align: left;

						@media (max-width: 900px) {
							margin-top: 10px;
						}
					}
					.book_state {
						// color: rgb(34, 34, 34);
						// font-family: Open Sans;
						// font-size: 10px;
						// font-weight: 400;
						// line-height: 130%;
						// letter-spacing: 0px;

						// @media (max-width: 900px) {
						// 	margin-top: 10px;
						// }
						svg {
							max-width: 20px;
							width: 100%;
						}
					}
				}
			}
		}

		.text_book {
			margin-top: 40px;
			width: 170px;
			font-family: Open Sans;
			font-size: 16px;
			font-weight: 400;
			line-height: 20.8px;
			text-align: left;

			color: #f34901;
		}
	}
}

