.UserSection {
	margin-bottom: 50px;
	.container {
		padding-inline: 20px;

		.content {
			width: 100%;

			@media (max-width: 768px) {
				font-size: 12px;
			}

			@media (max-width: 480px) {
				font-size: 10px;
			}
			th,
			td {
				padding: 12px;
				text-align: left;
				border-bottom: 1px solid #ddd;

				@media (max-width: 1050px) {
					padding: 10px;
				}

				@media (max-width: 555px) {
					padding: 8px;
				}

				@media (max-width: 420px) {
					padding: 4px;
				}

				@media (max-width: 400px) {
					padding: 6px;
				}

				@media (max-width: 350px) {
					padding: 3px;
				}

				@media (max-width: 320px) {
					padding: 2px;
				}
			}

			h2 {
				font-size: 24px;
				font-weight: 700;
				color: #222;
				margin-bottom: 20px;
				@media (max-width: 1050px) {
					font-size: clamp(24px, 6vw, 40px);
					margin-bottom: 10px;
					text-align: center;
				}
			}
			.users {
				&:hover {
					background-color: rgba(255, 68, 0, 0.376);
					color: black;
				}

				td {
					cursor: pointer;
					max-width: 5%;

					border: none;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;

					@media (max-width: 555px) {
						max-width: 100px;
					}

					@media (max-width: 420px) {
						max-width: 80px;
					}

					@media (max-width: 390px) {
						max-width: 70px;
					}

					@media (max-width: 370px) {
						max-width: 60px;
					}

					@media (max-width: 360px) {
						max-width: 50px;
					}

					@media (max-width: 350px) {
						max-width: 40px;
					}

					@media (max-width: 340px) {
						max-width: 30px;
					}

					@media (max-width: 330px) {
						max-width: 20px;
					}

					@media (max-width: 319px) {
						max-width: 10px;
					}
				}
				button {
					border: none;
					background: none;
					cursor: pointer;
					display: flex;
					align-items: end;
					justify-content: end;

					svg {
						@media (max-width: 500px) {
							width: 12px;
							height: 12px;
						}
						@media (max-width: 340px) {
							width: 10px;
							height: 10px;
						}
						&:hover {
							background-color: rgba(249, 76, 13, 0.376);
							border-radius: 50%;
							box-shadow: 0px 0px 5px 10px rgba(249, 76, 13, 0.376);
						}
					}
				}
			}

			.properties_container {
				width: 100%;
				overflow-x: auto;
				font-size: 14px;
				border-collapse: collapse;
				thead {
					tr {
						width: 100%;
						background-color: #f5f5f5;
						th {
							@media (max-width: 870px) {
								font-size: 10px;
								font-weight: 680;
							}
							@media (max-width: 800px) {
								font-size: 8px;
								font-weight: 680;
							}
							@media (max-width: 768px) {
								font-size: 10px;
								font-weight: 660;
							}
							@media (max-width: 500px) {
								font-size: 10px;
								font-weight: 680;
							}
							@media (max-width: 430px) {
								font-size: 8px;
								font-weight: 680;
							}
							@media (max-width: 400px) {
								font-size: 8px;
								font-weight: 680;
							}
							@media (max-width: 360px) {
								font-size: 7px;
								font-weight: 680;
							}
							@media (max-width: 320px) {
								font-size: 7px;
								font-weight: 680;
							}
						}
					}
				}
			}
		}
	}
}
.delete_modal {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 33px 0px;
	p {
		color: rgb(0, 0, 0);
		font-family: Open Sans;
		font-size: 18px;
		font-weight: 400;
		line-height: 130%;
		letter-spacing: 0px;
		text-align: center;
		max-width: 323px;

		span {
			color: rgb(249, 76, 13);
			font-weight: 600;
			cursor: pointer;
		}
	}
	.buttons_modal {
		display: flex;
		justify-content: space-between;
		max-width: 278px;
		width: 100%;
		button {
			border: none;
			outline: none;
			background-color: transparent;
			color: rgb(163, 163, 163);
			padding: 10px 24px;
			font-family: Open Sans;
			font-size: 16px;
			font-weight: 600;
			line-height: 22px;
			letter-spacing: 0px;
			text-align: left;
			&:last-child {
				background-color: black;
				color: white;
			}
		}
	}
}
