.UserSection {
	.container {
		padding-inline: 20px;

		.content {
			display: flex;
			flex-direction: column;
			max-width: 1200px;
			width: 100%;

			.user_data_container {
				display: flex;
				justify-content: space-between;
				color: rgb(34, 34, 34);
				font-family: Open Sans;
				font-size: 14px;
				font-weight: 600;
				border-radius: 3px;
				padding-top: 15px;
				padding-bottom: 15px;
				padding-inline: 30px;

				@media (max-width: 600px) {
					padding-inline: 15px;
				}
				@media (max-width: 340px) {
					padding-inline: 5px;
				}

				&:hover {
					background-color: #ffede5;
				}
				.user_data {
					display: flex;
					justify-content: space-between;
					width: 60%;
					cursor: pointer;
				}
				@media (max-width: 600px) {
					font-size: 10px;
				}

				.data_user{
					display: flex;
					justify-content: space-between;
					width: 70%;
				}

				.number {
					padding-right: 10px;
				}

				.delete_button {
					background: none;
					padding: 10px 10px 10px 10.5px;
					border: none;
					width: 38px;
					height: 38px;
					border-radius: 50%;
					background-color: transparent;
					transition: background-color 0.3s ease;
					cursor: pointer;
					svg {
						width: 16.67px;
						height: 16.67px;
					}

					&:hover {
						width: 38px;
						height: 38px;
						border-radius: 50%;
						background-color: #ffceb7;
						transition: background-color 0.3s ease;
					}
				}

				.delete_button:active {
					background: rgb(245, 170, 158);
					padding-top: 10px;
					padding-left: 10px;
					padding-right: 10px;
					padding-bottom: 5px;
					border-radius: 30px;
				}
			}
			.properties_container {
				border-bottom: 2px solid lightgray;

				max-width: 1200px;
				width: 100%;
				color: rgb(34, 34, 34);
				font-family: Open Sans;
				font-size: 14px;
				font-weight: 600;
				padding-top: 30px;
				padding-bottom: 30px;

				@media (max-width: 600px) {
					font-size: 10px;
				}

				.properties {
					display: flex;
					justify-content: space-between;
					width: 39%;
					padding-inline: 30px;

					@media (max-width: 600px) {
						padding-inline: 15px;
					}
					@media (max-width: 340px) {
						padding-inline: 5px;
					}
				}

				.user_data_container:active {
					background: rgb(245, 211, 206);
				}
			}
		}
	}
}
