.skeleton {
	margin-top: 30px;
	display: grid;
	grid-template-columns: repeat(5, 0.1fr);
	gap: 20px 30px;
	margin-left: 30px;
	@media (max-width: 1490px) {
		grid-template-columns: repeat(3, 0.1fr);
	}
	@media (max-width: 1180px) {
		width: 100px !important;
		height: 230px !important;
		grid-template-columns: repeat(2, 0.1fr);
	}
}

.InnerSection {
	.container {
		padding-inline: 20px;
		margin: 0px auto;
		margin-bottom: 50px;
		.total_quantity {
			display: flex;
			gap: 22px;
			width: 100%;
			margin-bottom: 22px;
			@media (max-width: 360px) {
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.books_quantity {
				color: rgb(181, 181, 181);
				font-family: 'Open Sans', sans-serif;
				font-size: 16px;
				font-weight: 400;
				line-height: 130%;
				letter-spacing: 0px;
				text-align: left;
				display: flex;
				align-items: center;
				gap: 4px;
			}

			.books_unvie {
				color: rgb(181, 181, 181);
				font-family: 'Open Sans', sans-serif;
				font-size: 16px;
				font-weight: 400;
				line-height: 130%;
				letter-spacing: 0px;
				text-align: left;
				display: flex;
				align-items: center;
				gap: 4px;

				@media (max-width: 360px) {
					font-size: 12px;
				}

				:last-child {
					color: rgb(255, 76, 0);
				}
			}
		}
	}

	.content {
		display: flex;
		flex-wrap: wrap;
		justify-content: start;
		gap: 20px;
		width: 100%;
		max-width: 1132px;
		margin-bottom: 50px;
		@media (max-width: 480px) {
			flex-direction: column;
			align-items: center;
		}
		@media (max-width: 430px) {
			display: flex;
			flex-direction: column;
			gap: 20px 10px;
			width: 100%;
			align-items: center;
			justify-content: center;
		}
		@media (max-width: 360px) {
			display: flex;
			flex-direction: column;
			gap: 20px 10px;
			width: 100%;
			align-items: center;
			justify-content: center;
		}
		.book {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 35px 36px 20px;
			max-width: 268px;
			width: 100%;
			background: rgb(237, 237, 237);
			cursor: pointer;

			@media (max-width: 1110px) {
				max-width: 260px;
				width: 100%;
				padding: 20px 16px 10px;
			}
			@media (max-width: 1090px) {
				max-width: 240px;
				width: 100%;
				padding: 20px 16px 10px;
			}
			@media (max-width: 1030px) {
				max-width: 230px;
				width: 100%;
				padding: 20px 16px 10px;
			}

			@media (max-width: 830px) {
				max-width: 150px;
				width: 100%;
				padding: 20px 16px 10px;
			}
			@media (max-width: 768px) {
				max-width: 190px;
				width: 100%;
				padding: 20px 16px 10px;
			}

			@media (max-width: 600px) {
				padding: 30px 16px 10px;
			}

			@media (max-width: 360px) {
				padding: 15px;
				width: max-content;
			}

			.extra {
				position: absolute;
				top: 10px;
				right: 0px;
				cursor: pointer;

				@media (max-width: 990px) {
					top: 1px;
					right: 0px;
				}
				@media (max-width: 560px) {
					top: 2px;
					right: -3px;
				}
			}

			.book_img {
				display: flex;
				align-items: center;
				justify-content: center;
				margin-bottom: 15px;

				img {
					width: 100%;
					max-width: 197px;
					min-height: 297px;
					height: auto;

					@media (max-width: 830px) {
						max-width: 120px;
					}
					@media (max-width: 660px) {
						max-width: 200px;
					}

					@media (max-width: 360px) {
						max-width: 100px;
					}
				}
			}

			.info_book {
				display: flex;
				flex-direction: column;
				gap: 7px;
				.custom_tooltip {
					color: black;
				}
				h3 {
					color: rgb(34, 34, 34);
					font-family: 'Open Sans', sans-serif;
					font-size: 14px;
					font-weight: 600;
					line-height: 120%;
					text-align: left;
					text-transform: uppercase;
					max-width: 200px;
					text-transform: uppercase;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					@media (max-width: 830px) {
						font-size: 8px;
					}

					@media (max-width: 360px) {
						font-size: 6px;
					}
				}
			}

			.date_and_price {
				display: flex;
				align-items: center;
				justify-content: space-between;
				max-width: 197px;
				width: 100%;

				p {
					color: rgb(138, 138, 138);
					font-family: 'Open Sans', sans-serif;
					font-size: 14px;
					font-weight: 400;
					line-height: 120%;
					text-align: left;

					@media (max-width: 830px) {
						font-size: 10px;
					}

					@media (max-width: 360px) {
						font-size: 8px;
					}
				}

				.price {
					color: rgb(255, 76, 0);
					font-family: 'Open Sans', sans-serif;
					font-size: 16px;
					font-weight: 600;
					line-height: 120%;
					text-align: left;

					@media (max-width: 830px) {
						font-size: 10px;
					}

					@media (max-width: 360px) {
						font-size: 8px;
					}
				}
			}

			.is_open {
				padding: 10px;
				display: flex;
				flex-direction: column;
				max-width: 180px;
				width: 100%;
				position: absolute;
				top: 30px;
				right: 30px;
				background-color: #f8f8f8;
				box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
				z-index: 100;
				transition: 0.2s;
				opacity: 100;

				@media (max-width: 820px) {
					top: 19px;
					right: 11px;
					padding: 10px;
				}
				@media (max-width: 750px) {
					top: 18px;
					right: 11px;
					padding: 10px;
				}
				@media (max-width: 560px) {
					top: 25px;
					right: 10px;
					padding: 10px;
				}
				@media (max-width: 360px) {
					top: 22px;
					right: 11px;
					padding: 5px;
					max-width: 100px;
					width: 100%;
					height: 90px;
				}

				ul {
					display: flex;
					flex-direction: column;
					align-items: start;
					text-align: start;
					justify-content: start;
					width: 100%;
					li {
						// max-width: 300px;
						width: 100%;
						display: flex;
						align-items: center;
						justify-content: start;
						gap: 10px;
						color: rgb(35, 35, 35);
						font-family: Open Sans;
						font-size: 16px;
						font-weight: 400;
						line-height: 130%;
						letter-spacing: 0px;
						padding: 10px 5px;
						border-bottom: 0.5px solid rgb(196, 196, 196);
						&:last-child {
							border: none;
						}

						@media (max-width: 830px) {
							font-size: 8px;
							gap: 5px;
						}

						span {
							display: flex;
							align-items: center;
							&:first-child {
								height: 25px;
							}
							svg {
								max-width: 25px;
								width: 100%;

								@media (max-width: 768px) {
									max-width: 20px;
									width: 100%;
								}
								@media (max-width: 450px) {
									max-width: 20px;
									width: 100%;
								}
								@media (max-width: 350px) {
									max-width: 15px;
									width: 100%;
								}
							}
						}

						@media (max-width: 830px) {
							font-size: 8px;
						}
						@media (max-width: 360px) {
							font-size: 8px;
						}
					}
				}
			}
			.on_close {
				padding: 10px;
				display: flex;
				flex-direction: column;
				gap: 7px;
				position: absolute;
				top: 0px;
				right: 0px;
				background-color: #f8f8f8;
				box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
				z-index: -100;
				transition: 0.2s;
				opacity: 0;
				cursor: default;
				user-select: none;
				ul {
					display: flex;
					flex-direction: column;
					align-items: start;
					text-align: start;
					justify-content: start;
					width: 100%;
					li {
						max-width: 300px;
						width: 100%;
						display: flex;
						align-items: center;
						justify-content: start;
						gap: 10px;
						color: rgb(35, 35, 35);
						font-family: Open Sans;
						font-size: 16px;
						font-weight: 400;
						line-height: 130%;
						letter-spacing: 0px;
						padding: 10px 5px;
						border-bottom: 0.5px solid rgb(196, 196, 196);
						&:last-child {
							border: none;
						}

						@media (max-width: 830px) {
							font-size: 8px;
							gap: 5px;
						}

						span {
							display: flex;
							align-items: center;
							&:first-child {
								height: 25px;
							}
							svg {
								max-width: 25px;
								width: 100%;

								@media (max-width: 768px) {
									max-width: 20px;
									width: 100%;
								}
								@media (max-width: 450px) {
									max-width: 20px;
									width: 100%;
								}
								@media (max-width: 350px) {
									max-width: 15px;
									width: 100%;
								}
							}
						}

						@media (max-width: 830px) {
							font-size: 8px;
						}
						@media (max-width: 360px) {
							font-size: 8px;
						}
					}
				}
			}
		}
		.unviewedStyle {
			background-color: rgba(255, 77, 0, 0.145);
		}

		.no_books {
			width: 100%;
			display: flex;
			align-items: center;
		}
	}
}

.delete_modal {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 33px 0px;
	p {
		color: rgb(0, 0, 0);
		font-family: Open Sans;
		font-size: 18px;
		font-weight: 400;
		line-height: 130%;
		letter-spacing: 0px;
		text-align: center;
		max-width: 323px;
	}
	.buttons_modal {
		display: flex;
		justify-content: space-between;
		max-width: 278px;
		width: 100%;
		button {
			border: none;
			outline: none;
			background-color: transparent;
			color: rgb(163, 163, 163);
			padding: 10px 24px;
			font-family: Open Sans;
			font-size: 16px;
			font-weight: 600;
			line-height: 22px;
			letter-spacing: 0px;
			text-align: left;
			cursor: pointer;
			&:last-child {
				background-color: black;
				color: white;
			}
		}
	}
}

.modal_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 23px 0px;
	.info_text {
		p {
			display: flex;
			flex-direction: column;
			color: rgb(0, 0, 0);
			font-family: Open Sans;
			font-size: 18px;
			font-weight: 400;
			line-height: 130%;
			letter-spacing: 0px;
			text-align: center;
			width: 100%;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
}

.modal_devation {
	display: flex;
	flex-direction: column;
	gap: 18px;
	.text_devation {
		color: #222222;
		font-family: Open Sans;
		font-size: 16px;
		font-weight: 600;
		line-height: 130%;
		letter-spacing: 0px;
		text-align: left;
		margin: 0px;
	}
	.input_devatoin {
		max-width: 483px;
		width: 100%;
		outline: none;
		padding: 8px 13px;
		height: 100%;
		background-color: #ffffff;
		color: #222222;
		border: 1px solid rgb(196, 196, 196);
	}
	.btn_devation {
		border: none;
		outline: none;
		align-self: flex-end;
		padding: 10px 24px;
		color: rgb(255, 255, 255);
		font-family: Open Sans;
		font-size: 16px;
		font-weight: 600;
		line-height: 22px;
		letter-spacing: 0px;
		text-align: left;
		background-color: black;
		max-width: 140px;
		width: 100%;
	}
}

.delete_modal {
	.bt_modal {
		width: 100%;
		display: flex;
		justify-content: space-around;
		button {
			padding: 10px 24px;
			color: rgb(255, 255, 255);
			font-family: Open Sans;
			font-size: 16px;
			font-weight: 600;
			line-height: 22px;
			letter-spacing: 0px;
			text-align: left;
			background-color: black;
			max-width: 140px;
			width: 100%;
			border: none;
			&:last-child {
				background-color: rgb(255, 77, 0);
				color: rgb(255, 255, 255);
			}
		}
	}
}
.modal_deviation {
	width: 100%;
	height: 200px;
	.text_deviation {
		color: rgb(34, 34, 34);
		font-family: Open Sans;
		font-size: 16px;
		font-weight: 600;
		line-height: 130%;
		letter-spacing: 0px;
		text-align: left;
		margin-bottom: 18px;
	}
	.input_deviation {
		resize: none;
		max-width: 483px;
		max-height: 108px;
		width: 100%;
		background-color: #fff;
		border: 1px solid rgb(196, 196, 196);
		padding: 10px;
		box-sizing: border-box;
		text-align: left;
		outline: none;
		color: black;
		margin-bottom: 18px;
		text-align: start;
		&:focus {
			&::placeholder {
				opacity: 0;
			}
		}
		&::placeholder {
			text-align: top;
			vertical-align: middle;
		}
	}
	button {
		max-width: 137px;
		width: 100%;
		height: 42px;
		left: 366px;
		right: 20px;
		top: 185px;
		bottom: 20px;
		background: rgb(28, 28, 28);
		border: none;
		padding: 10px 24px 10px 24px;
	}
}
:global {
	.ant-modal-mask {
		background-color: rgba(0, 0, 0, 0.4);
	}
}
