.ProfileSection {
	.content {
		.section_profile {
			justify-content: center;
			align-items: center;
			width: 100%;
			margin-top: 10px;
			padding-bottom: 100px;

			.section_new_password {
				@media (max-width: 700px) {
					margin-top: 100px;
				}

				.new_password {
					max-width: 600px;
					width: 100%;
					height: 164px;

					.input_new_password {
						padding-bottom: 20px;
						width: 514px;

						@media (max-width: 1048px) {
							width: 400px;
						}
						@media (max-width: 848px) {
							width: 340px;
						}
						@media (max-width: 758px) {
							width: 270px;
						}
					}

					.current_password,
					.dowland_new_password,
					.confirm_password {
						margin-bottom: 8px;
						font-family: Open Sans;
						font-size: 16px;
						font-weight: 400;
						line-height: 20.8px;
						text-align: left;
						color: #969696;
					}
				}

				.change_password {
					font-family: Open Sans;
					font-size: 18px;
					font-weight: 600;
					line-height: 24.51px;
					text-align: left;
					padding-bottom: 30px;
				}
			}

			.profile_info_name {
				max-width: 1200px;

				@media (max-width: 655px) {
					flex-direction: column;
				}

				.profile_box {
					display: flex;
					justify-content: space-between;

					@media (max-width: 700px) {
						display: inline-block;
						justify-content: center;
					}
				}

				.profile_name {
					width: 600px;

					@media (max-width: 1056px) {
						width: 400px;
					}
					@media (max-width: 905px) {
						width: 300px;
					}
					@media (max-width: 566px) {
						width: 100%;
					}

					.text_tree {
						padding-bottom: 30px;
						font-family: Open Sans;
						font-size: 18px;
						font-weight: 600;
						line-height: 24.51px;
						text-align: left;
					}

					.name_info_text,
					.email_text,
					.tex {
						margin-bottom: 8px;
						font-family: Open Sans;
						font-size: 16px;
						font-weight: 400;
						line-height: 20.8px;
						text-align: left;
						color: #969696;
					}

					.tex {
						margin-top: 50px;
						color: #f10000;
						cursor: pointer;
					}

					.input_name_info {
						padding-bottom: 20px;
					}
				}
			}

			.button_section {
				display: flex;
				justify-content: flex-end;
				margin-top: 200px;
				gap: 30px;

				.delete_user_profile {
					max-width: 200px;
					width: 100%;
					color: orangered;
					cursor: pointer;
					background-color: transparent;
					border: none;
					font-size: larger;
					transition: color 0.3s;

					&:hover {
						color: darkred;
					}
				}

				.update_buttons {
					display: flex;
					justify-content: space-between;
					gap: 30px;

					button {
						padding: 5px 30px;
						max-width: 200px;
						width: 100%;
						color: white;
						border: none;
						outline: none;
						cursor: pointer;
						background-color: orangered;
						transition:
							background-color 0.3s,
							color 0.3s;

						&:hover {
							background-color: rgba(245, 73, 10, 0.898);
						}
					}
				}

				.custom_white_button {
					max-width: 136px;
					width: 100%;
					height: 42px;
					font-weight: 600;
					color: black;
					background: white;
					border-radius: 4px;
					transition:
						background-color 0.3s,
						color 0.3s;

					&:hover {
						background-color: lightgray;
					}
				}
				.custom_black_button {
					height: 42px;
					border: none;
					font-size: 16px;
					cursor: pointer;
					background-color: black;
					color: white;
					border-radius: 4px;
					transition: background-color 0.3s;

					&:hover {
						background-color: darkgray;
					}

					&:focus {
						outline: none;
					}
				}
			}
		}
	}
}
.delete_modal {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 33px;

	p {
		color: rgb(0, 0, 0);
		font-family: Open Sans;
		font-size: 18px;
		font-weight: 400;
		line-height: 130%;
		text-align: center;
		max-width: 323px;
	}

	.buttons_modal {
		display: flex;
		justify-content: space-between;
		max-width: 278px;
		width: 100%;

		button {
			border: none;
			outline: none;
			background-color: transparent;
			color: rgb(163, 163, 163);
			padding: 10px 24px;
			font-family: Open Sans;
			font-size: 16px;
			font-weight: 600;
			line-height: 22px;
			cursor: pointer;

			&:last-child {
				background-color: black;
				color: white;
				border-radius: 4px;
				transition: background-color 0.3s;

				&:hover {
					background-color: darkgray;
				}
			}
		}
	}
}
