.Header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 999;

	.scroll {
		padding-block: 15px;
		transition:
			padding 0.5s,
			background 0.2s;

		@media (max-width: 767px) {
			padding-block: 0px;
			backdrop-filter: blur(7px);
			-webkit-backdrop-filter: blur(7px);
			box-shadow: 0px 0px 5px #3f3f3f;
		}

		&.active {
			padding-block: 0px;
			backdrop-filter: blur(7px);
			-webkit-backdrop-filter: blur(7px);
			box-shadow: 0px 0px 5px #3f3f3f;
		}
	}
	.content {
		.header_Content {
			display: flex;
			justify-content: space-between;
			.logo_Content {
			}
			.input_Content {
				max-width: 896px;
				width: 100%;
			}
			.right_Content {
				display: flex;
				.favorite_icon {
				}
				.basket {
				}
			}
		}
		.nav_bar {
			.left_nav_Content{

			}
			.center_nav_Content{

			}
			.right_nav_Content{

			}
		}
	}
}
