.Header {
	width: 100%;
	z-index: 999;

	.scroll {
		padding-block: 15px;
		transition:
			padding 0.5s,
			background 0.2s;

		@media (max-width: 767px) {
			padding-block: 0px;
			backdrop-filter: blur(7px);
			-webkit-backdrop-filter: blur(7px);
			box-shadow: 0px 0px 5px #3f3f3f;
		}

		&.active {
			padding-block: 0px;
			backdrop-filter: blur(7px);
			-webkit-backdrop-filter: blur(7px);
			box-shadow: 0px 0px 5px #3f3f3f;
		}
	}
	.content {
		padding-bottom: 30px;
		.header_content {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 44.5px;
			margin-bottom: 20px;
			position: relative;
			@media (max-width: 1350px) {
				gap: 40px;
			}
			@media (max-width: 470px) {
				justify-content: space-between;
			}
			.search_container {
				position: absolute;
				top: 76px;
				left: 194px;
				background-color: #f8f8f8;
				max-width: 859px;
				width: 100%;
			}
			.logo_content {
				cursor: pointer;
			}

			.searchResults {
				max-width: 895px;
				width: 100%;
				display: flex;
				flex-direction: column;
				position: relative;

				.lii {
					position: absolute;
					top: 40px;
					width: 100%;
					z-index: 999;
				}

				.searchResultsLi {
					ul {
						max-width: 859px;
						width: 100%;
						display: flex;
						flex-direction: column;
						background-color: white;
						margin-top: 2px;
						li {
							max-width: 860px;
							width: 100%;
							max-height: 30px;
							padding: 15px 15px;
							text-align: start;
							border-bottom: 1px solid rgb(168, 165, 165);
							padding-bottom: 30px;

							p {
								max-width: 895px;
								width: 100%;
								font-size: clamp(6px, 7vw, 14px);
								font-weight: 400;
								line-height: 16px;
								overflow: hidden;
								white-space: nowrap;
								text-overflow: ellipsis;
							}
						}
					}
				}
			}
			.input_content {
				display: flex;
				flex-direction: column;
				flex-shrink: 3;
				max-width: 896px;
				width: 100%;
				margin: 30px 0px 15px 0px;
				@media (max-width: 470px) {
					display: none;
				}
			}
			.search_content {
				display: flex;
				flex-direction: column;
				width: 100%;
				.search_results {
					position: absolute;
					top: 76px;
					z-index: 333;
					ul {
						display: flex;
						flex-direction: column;
						background-color: #fff;
						gap: 10px;
						padding: 20px 24px;
						li {
							max-width: 810px;
							width: 100%;
							border-bottom: 1px solid silver;
							margin-bottom: 10px;
							padding: 5px;
							cursor: pointer;
							h3 {
								color: rgb(34, 34, 34);
								font-size: 16px;
								font-weight: 400;
								line-height: 22px;
								letter-spacing: 0px;
								text-align: left;
							}
						}
					}
				}
			}
			.right_content {
				display: flex;
				align-items: center;
				flex-shrink: 1;
				padding-top: 10px;
				gap: 45px;
				height: fit-content;
				@media (max-width: 1100px) {
					gap: 35px;
					transition: 0.8s;
				}
				@media (max-width: 1000px) {
					gap: 25px;
					transition: 0.8s;
				}
				@media (max-width: 1350px) {
					margin-right: 20px;
					transition: 0.8s;
				}
				.favorite_icon {
					display: flex;
					align-items: start;
					cursor: pointer;
					position: relative;
					padding: 5px;
					span {
						&:first-child {
							color: rgb(0, 0, 0);
						}
						&:last-child {
							width: 5px;
							padding-bottom: 5px;
							color: red;
							svg {
								position: absolute;
							}
						}
					}
				}
				.basket {
					cursor: pointer;
					p {
						width: max-content;
						color: rgb(34, 34, 34);
						font-size: 14px;
						font-weight: 400;
						line-height: 130%;
						letter-spacing: 0px;
						text-align: left;
						@media (max-width: 470px) {
							font-size: 12px;
						}
					}
				}
			}
		}

		.search_input {
			display: none;
			@media (max-width: 470px) {
				display: flex;
				flex-direction: column;
				width: 100%;
				padding-bottom: 10px;
			}
		}
		.none {
			position: absolute;
			top: -1000px;
			left: 0px;
		}
		.nav_bar {
			display: flex;
			align-items: center;
			justify-content: space-between;
			position: relative;
			@media (max-width: 950px) {
				justify-content: space-between;
				max-width: 910px;
				width: 100%;
				transition: 0.8s;
			}
			@media (max-width: 470px) {
				margin-bottom: 20px;
			}
			.menu_contents {
				max-width: 809px;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;
				.left_nav_content {
					display: flex;
					align-items: center;
					cursor: pointer;
					position: relative;
					@media (max-width: 1305px) {
						margin-right: 90px;
						transition: 0.8s;
					}
					@media (max-width: 1200px) {
						margin-right: 50px;
						transition: 0.8s;
					}
					@media (max-width: 1100px) {
						margin-right: 30px;
						transition: 0.8s;
					}
					@media (max-width: 440px) {
						margin: 0px;
					}
					p {
						margin-left: 14px;
						margin: 10px 0px 10px 10px;
						color: rgb(34, 34, 34);
						font-size: 16px;
						font-weight: 600;
						line-height: 22px;
						letter-spacing: 0px;
						text-align: left;
						user-select: none;
						@media (max-width: 950px) {
							font-size: 15px;
							border: 1px solid;
							padding: 10px 15px;
							margin-left: 30px;
						}
						@media (max-width: 650px) {
							font-size: 14px;
							border: 1px solid;
							padding: 5px 10px;
							margin-left: 30px;
						}
					}
					.click_genre_container {
						@media (max-width: 950px) {
							display: none;
							transition: 1s;
						}
					}
					.burger_menu {
						display: none;
						transition: 1s;
						@media (max-width: 950px) {
							display: block;
							transition: 1s;
						}
					}
				}

				.navbar_menu {
					display: none;
					@media (max-width: 950px) {
						width: 260px;
						display: flex;
						padding: 10px 20px;
						background-color: #f8f8f8;
						border-radius: 0px;
						position: absolute;
						top: 64px;
						left: 0px;
						box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
						transition: 0.5s;
						ul {
							max-width: 300px;
							width: 100%;
							display: flex;
							flex-direction: column;
							gap: 20px;
							li {
								width: 100%;
								@media (max-width: 650px) {
									font-size: 12px;
								}
							}
						}
					}
				}
				.navbar_none {
					display: none;
					@media (max-width: 950px) {
						display: block;
						position: absolute;
						top: 60px;
						left: 0px;
						overflow: hidden;
						opacity: 0;
						z-index: -333;
						max-height: 100px;
						user-select: none;
						transition: 0.3s;
						ul {
							display: flex;
							flex-direction: column;
							gap: 10px 0px;
						}
					}
				}

				.center_nav_content {
					max-width: 600px;
					width: 100%;
					display: flex;
					flex-shrink: 2;

					@media (max-width: 1100px) {
						margin-right: 100px;
					}
					@media (max-width: 1000px) {
						margin-right: 60px;
					}

					@media (max-width: 440px) {
						display: none;
					}
					ul {
						max-width: 600px;
						width: 100%;
						display: flex;
						justify-content: space-between;
						@media (max-width: 950px) {
							display: none;
						}
						li {
							width: max-content;
							color: rgb(34, 34, 34);
							font-size: 14px;
							font-weight: 500;
							line-height: 130%;
							letter-spacing: 0px;
							text-align: left;
							position: relative;
							padding: 5px;
							transition: 0.3s;
							cursor: pointer;
							user-select: none;
							transition: 0.2s;
							@media (max-width: 1305px) {
								font-size: 12px;
								transition: 0.3s;
							}
							@media (max-width: 1000px) {
								font-size: 11px;
								transition: 0.3s;
							}
							&:hover {
								color: rgb(243, 73, 1);
								transition: 0.5s;
							}
							&::after {
								content: '';
								position: absolute;
								width: 0;
								height: 2px;
								bottom: 0;
								left: 0;
								background-color: #f34901;
								transition: width 0.4s ease-in-out;
							}
							&:hover::after {
								width: 100%;
							}
							&:last-child {
								color: #f34901;
							}
						}
					}
				}
			}
			.right_nav_content {
				display: flex;
				align-items: center;
				@media (max-width: 460px) {
					margin-left: 10px;
				}
				button {
					display: flex;
					align-items: center;
					cursor: pointer;
					color: rgb(34, 34, 34);
					padding: 0px 24px;
					font-size: 16px;
					font-weight: 600;
					line-height: 22px;
					letter-spacing: 0px;
					text-align: left;
					background-color: transparent;
					border: 1px solid black;
					outline: none;
					min-width: 140px;
					@media (max-width: 1100px) {
						font-size: 14px;
						padding: 0px 22px;
						transition: 0.8s;
					}
					@media (max-width: 650px) {
						font-size: 12px;
						padding: 0px 18px;
						transition: 0.8s;
					}
					p {
						margin-right: 10px;
						margin: 12px 10px 12px 0px;
						@media (max-width: 1100px) {
							margin: 10px 8px 10px 0px;
							transition: 0.8s;
						}
						@media (max-width: 650px) {
							margin: 5px 8px 0px 0px;
							transition: 0.8s;
							svg {
								width: 18px;
							}
						}
					}
				}
				.sign_btn {
					display: flex;
					flex-direction: column;
					color: rgb(255, 255, 255);
					font-family: Open Sans;
					font-size: 16px;
					font-weight: 600;
					line-height: 22px;
					letter-spacing: 0px;
					text-align: left;
					background-color: rgb(28, 28, 28);
					padding: 10px 24px;
					max-width: 100%;
					width: 100%;
					min-width: 0px;
				}
			}
			.user_down {
				display: flex;
				max-width: 140px;
				width: 100%;
				padding: 20px;
				position: absolute;
				top: 0px;
				right: 0px;
				z-index: -2;
				user-select: none;
				cursor: default;
				opacity: 0;
				box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
				background-color: #f8f8f8;
				transition: 0.2s;
				ul {
					display: flex;
					flex-direction: column;
					justify-content: start;
					user-select: none;
					width: 100%;
					li {
						color: rgb(34, 34, 34);
						font-family: Open Sans;
						font-size: 14px;
						font-weight: 400;
						line-height: 130%;
						letter-spacing: 0px;
						text-align: left;
						cursor: pointer;
					}
					hr {
						margin-top: 6.75px;
						margin-bottom: 8.25px;
						border: none;
						border-top: 0.5px solid rgb(196, 196, 196);
					}
				}
			}
			.user_drop {
				display: flex;
				max-width: 140px;
				width: 100%;
				padding: 20px;
				position: absolute;
				right: 0px;
				top: 55px;
				z-index: 222;
				box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
				background-color: #f8f8f8;
				transition: 0.2s;
				ul {
					display: flex;
					flex-direction: column;
					justify-content: start;
					user-select: none;
					width: 100%;
					li {
						color: rgb(34, 34, 34);
						font-family: Open Sans;
						font-size: 14px;
						font-weight: 400;
						line-height: 130%;
						letter-spacing: 0px;
						text-align: left;
						cursor: pointer;
					}
					hr {
						margin-top: 6.75px;
						margin-bottom: 8.25px;
						border: none;
						border-top: 0.5px solid rgb(196, 196, 196);
					}
				}
			}
		}
	}
}
.modal_exit {
	:global {
		.ant-modal-content {
			max-width: 460px !important;
			max-height: 150px !important;
			border-radius: 5px;
			@media (max-width: 330px) {
				min-height: 170px !important;
				max-height: 170px !important;
			}
		}
	}
	.modal_text {
		display: flex;
		justify-content: center;
		p {
			color: rgb(0, 0, 0);
			font-family: Open Sans;
			font-size: 18px;
			font-weight: 400;
			line-height: 130%;
			letter-spacing: 0px;
			text-align: center;
		}
	}
	.footer_modal {
		display: flex;
		justify-content: space-between;
		max-width: 264px;
		margin-top: 24px;
		button {
			border: none;
			outline: none;
			cursor: pointer;
			font-family: Open Sans;
			font-size: 16px;
			font-weight: 600;
			line-height: 22px;
			letter-spacing: 0px;
			padding: 10px 24px;
			background-color: black;
			color: #ffffff;
			max-width: 102px;
			&:first-child {
				background-color: transparent;
				color: rgb(163, 163, 163);
				max-width: 130px;
			}
		}
	}
}
.modal_exit {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modal_vendor {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 30px 0px;
	.info_modal {
		display: flex;
		justify-content: center;
		margin-top: 10px;
		p {
			font-size: 18px;
			font-weight: 600;
			text-align: center;
			max-width: 360px;
		}
	}
	.buttons {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 280px;
		width: 100%;
		button {
			padding: 10px 24px;
			font-size: 16px;
			font-weight: 500;
			color: rgb(59, 59, 59);
			border: 1px solid transparent;
			outline: none;
			background-color: transparent;
			cursor: pointer;
			&:hover {
				border: 1px solid;
			}
			&:last-child {
				background-color: black;
				border: 1px solid transparent;
				color: white;
			}
		}
	}
}
