.PromoSection {
	.content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 179px;
		.btn_morebookk {
			margin-bottom: 25px;
			width: 100%;

			@media (max-width: 850px) {
				display: grid;
				grid-column-start: 1;
				grid-column-end: 3;
			}
			button {
				color: rgb(150, 150, 150);
				font-family: Open Sans;
				font-size: 14px;
				font-weight: 400;
				line-height: 120%;
				letter-spacing: 0px;
				text-align: center;
				border-radius: 0px;
				width: 100%;
				outline: none;
				border: 1px solid #c4c4c4;
				background-color: transparent;
				padding: 10px 0px;
				cursor: pointer;
				&:hover {
					color: #f8f8f8;
					background-color: #f34901;
				}
			}
		}
		.promo_content {
			display: flex;
			flex-direction: column;
			max-width: 688px;
			width: 100%;
			.promo_image {
				display: flex;
				justify-content: center;
				margin-bottom: 10px;
				img {
					user-select: none;
				}
			}
			.useage_promo {
				display: flex;
				flex-direction: column;
				align-items: center;

				.text {
					color: rgb(34, 34, 34);
					font-family: Open Sans;
					font-size: 18px;
					font-weight: 650;
					line-height: 130%;
					letter-spacing: 0px;
					text-align: left;
				}
				.promo_form {
					display: flex;
					justify-content: space-between;
					margin: 26px 0px;
					width: 100%;
					input {
						width: 100%;
						padding: 8px 18px;
						outline: none;
						color: #333;
						box-sizing: border-box;
						border: 1px solid rgb(196, 196, 196);
						background-color: #f8f8f8;
						font-size: 14px;
					}
					.promo_add_btn {
						color: rgb(255, 255, 255);
						font-family: Open Sans;
						font-size: 14px;
						font-weight: 600;
						line-height: 120%;
						letter-spacing: 0px;
						text-align: left;
					}
				}
				p {
					color: rgb(34, 34, 34);
					font-family: Open Sans;
					font-size: 16px;
					font-weight: 400;
					line-height: 130%;
					letter-spacing: 0px;
					text-align: left;
				}
			}
		}
		.count_book {
			display: flex;
			justify-content: start;
			width: 100%;
			margin: 93px 0px 36px 0px;
			p {
				color: rgb(150, 150, 150);
				font-family: Open Sans;
				font-size: 16px;
				font-weight: 400;
				line-height: 130%;
				letter-spacing: 0px;
				text-align: center;
				@media (max-width: 768px) {
					font-size: 14px;
				}
			}
		}
		.container_books {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			justify-items: center;
			gap: 28px 20px;
			width: 100%;
			margin-bottom: 186px;
			@media (max-width: 820px) {
				grid-template-columns: 1fr 1fr 1fr;
			}
			@media (max-width: 700px) {
				grid-template-columns: 1fr 1fr;
			}

			.card_book {
				display: flex;
				flex-direction: column;
				gap: 20px;

				img {
					width: 50%;
					height: 400px;
				}
				@media (max-width: 820px) {
					max-width: 250px;
				}
				@media (max-width: 700px) {
					max-width: 250px;
				}
				@media (max-width: 490px) {
					max-width: 210px;
					img {
						height: 75%;
					}
				}
				img {
					width: 100%;
				}
				.description {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: start;
					gap: 8px;
					h3 {
						color: rgb(34, 34, 34);
						font-family: Open Sans;
						font-size: 14px;
						font-weight: 600;
						line-height: 19px;
						letter-spacing: 0px;
						text-align: left;
						text-transform: uppercase;
						@media (max-width: 820px) {
							font-size: 12px;
						}
						@media (max-width: 490px) {
							font-size: 11px;
						}
					}
					p {
						color: rgb(150, 150, 150);
						font-family: Open Sans;
						font-size: 14px;
						font-weight: 400;
						line-height: 19px;
						letter-spacing: 0px;
						text-align: left;
						@media (max-width: 820px) {
							font-size: 12px;
						}
						@media (max-width: 490px) {
							font-size: 11px;
						}
					}
					.info_price {
						display: flex;
						gap: 16px;
						p {
							color: rgb(241, 0, 0);
							font-family: Open Sans;
							font-size: 16px;
							font-weight: 400;
							line-height: 130%;
							letter-spacing: 0px;
							text-align: left;
							@media (max-width: 820px) {
								font-size: 14px;
							}
							@media (max-width: 490px) {
								font-size: 12px;
							}
							&:nth-child(2n) {
								color: rgb(163, 163, 163);
								font-family: Open Sans;
								font-size: 14px;
								font-weight: 600;
								line-height: 19px;
								letter-spacing: 0px;
								text-align: left;
								text-decoration-line: line-through;
								@media (max-width: 820px) {
									font-size: 12px;
								}
								@media (max-width: 490px) {
									font-size: 11px;
								}
							}
							&:last-child {
								color: rgb(34, 34, 34);
								font-family: Open Sans;
								font-size: 16px;
								font-weight: 600;
								line-height: 22px;
								letter-spacing: 0px;
								text-align: left;
								@media (max-width: 820px) {
									font-size: 14px;
								}
								@media (max-width: 490px) {
									font-size: 12px;
								}
							}
						}
					}
				}
			}
		}
	}
}
.modal_promo {
	:global {
		.ant-modal-content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			max-width: 460px !important;
			border-radius: 5px;
			.ant-modal-footer {
				margin: 0px !important;
			}
		}
	}
	.promo_modal_content {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 24px 0px;
		p {
			color: rgb(34, 34, 34);
			font-family: Open Sans;
			font-size: 16px;
			font-weight: 400;
			line-height: 130%;
			letter-spacing: 0px;
			text-align: left;
		}
		button {
			border: none;
			outline: none;
			color: white;
			font-family: Open Sans;
			font-size: 16px;
			font-weight: 600;
			line-height: 22px;
			letter-spacing: 0px;
			text-align: center;
			padding: 10px 24px;
			background-color: black;
			max-width: 139px;
			width: 100%;
			cursor: pointer;
		}
	}
}
