.last_publication {
	background: #1c1c1c;
	padding: 100px 0;
	width: 100%;

	@media (max-width: 940px) {
		height: 100%;
		padding-top: 50px ;
		padding-bottom: 30px ;
	}
	@media (max-width: 600px) {
		height: 100%;
		padding-top: 30px ;
		padding-bottom: 200px ;
	}
	.content {
		display: flex;
		flex-direction: column;
		gap: 50px;
		@media (max-width: 600px) {
			width: 100%;
			height: 100vh;
		}
		.section_header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			@media (max-width: 600px) {
				width: 100%;
			}
			.section_title {
				font-size: 24px;
				font-weight: 600;
				line-height: 31.2px;
				text-align: left;
				color: #f8f8f8;
			}
			.nav_to_all {
				font-size: 14px;
				font-weight: 400;
				line-height: 18.2px;
				text-align: left;
				color: #ff4c00;
				text-decoration: underline;
			}
		}
		.section_main {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			@media (max-width: 800px) {
				flex-direction: column;
				align-items: center;
			}
			@media (max-width: 600px) {
				flex-direction: column;
				align-items: flex-start;
			}
			.main_nav {
				display: flex;
				flex-direction: column;


				li {
					font-size: 16px;
					font-weight: 400;
					line-height: 20.8px;
					text-align: left;
					padding: 15px 0;
					button {
						color: #969696;
						background-color: transparent;
						border: none;
						&:focus::before {
							content: "";
							display: inline-block; 
							width: 50px; 
							height: 1px; 
							background-color: rgb(255, 255, 255); 
							margin-right: 5px; 
							vertical-align: middle
						}
						&:focus {
							color: white;
						}
					}
				}
			}
			.main_image {
				.image_container {
					position: relative;
					.bookImage {
						width: 342px;
						height: 515px;
						gap: 0px;
						opacity: 0px;
						animation: rotate 5s linear infinite alternate;
						@media (max-width: 940px) {
						   width: 250px;
							 height: 350px;
						}
						@media (max-width: 600px) {
							width: 250px;
							height: 350px;
							height: auto;
						}
						transform: rotate(15deg);

						@keyframes rotate {
							0% {
								transform: rotate(10deg);
							}
							50% {
								transform: rotate(-10deg);
							}
							100% {
								transform: rotate(10deg);
							}
						}
					}
					svg {
						position: absolute;
						width: 120%;
						height: 105%;
						margin: 0;
						padding: 0;
						@media (max-width: 940px) {
							display: none;
						}
						@media (max-width: 600px) {
							width: 5px;
							position: absolute;
						}
					}

					svg:nth-child(1) {
						bottom: 245px;
						right: -35px;
					}

					svg:nth-child(2) {
						top: 0;
						right: 0;
					}

					svg:nth-child(2),
					svg:nth-child(3) {
						top: -32px;
						right: 135px;
					}

					svg:nth-child(5) {
						top: 240px;
						left: -35px;
					}

					svg:nth-child(4) {
						top: 2px;
						left: 138px;
						z-index: 1;
					}
				}
			}

			.main_about {
				.title_book {
					font-size: 16px;
					font-weight: 600;
					line-height: 20.8px;
					text-align: left;
					color: #d1d1d1;
					padding: 20px 0;
				}
				.about_book {
					font-size: 16px;
					font-weight: 400;
					line-height: 20.8px;
					text-align: left;
					color: #d1d1d1;
					max-width: 300px;
					max-height: 220px;
					overflow: auto;
					padding: 30px 0;
				}
				.about_book_footer {
					display: flex;
					justify-content: space-between;
					.nav_to_all {
						font-size: 14px;
						font-weight: 400;
						line-height: 18.2px;
						text-align: left;
						color: #ff4c00;
						text-decoration: underline;
					}
					.price {
						font-size: 16px;
						font-weight: 600;
						line-height: 20.8px;
						text-align: left;
						color: #d1d1d1;
					}
				}
			}
		}
	}
}
