.BasketSection {
	.content {
		.links {
			display: flex;
			align-items: center;
			margin-bottom: 30px;
			.link_to_home {
				color: rgb(150, 150, 150);
				font-size: 14px;
				font-weight: 400;
			}
			.link_to_home_active {
				color: black;
			}
			.link_to_basket {
				color: rgb(150, 150, 150);
				color: rgb(41, 41, 41);
				font-size: 14px;
				font-weight: 600;
				line-height: 130%;
				letter-spacing: 0px;
				text-align: left;
				margin-top: 2px;
			}
			.link_to_basket_active {
				color: black;
			}
		}
		.content {
			display: flex;
			justify-content: space-between;
			padding-bottom: 75px;
			@media (max-width: 1250px) {
				display: flex;
				flex-direction: column-reverse;
				align-items: center;
				justify-content: center;
			}
			.left_content {
				max-width: 799px;
				width: 100%;
				hr {
					max-width: 797px;
					width: 100%;
					border: 1px solid silver;
					margin-bottom: 15px;
					&:first-child {
						display: none;
					}
					@media (max-width: 760px) {
						max-width: 797px;
						width: 100%;
						border: 1px solid silver;
						margin-bottom: 15px;
					}
				}
				@media (max-width: 840px) {
					max-width: 840px;
					width: 100%;
				}
				hr {
					max-width: 797px;
					width: 100%;
					border: 1px solid silver;
					margin-bottom: 15px;
				}
				.title {
					max-width: 797px;
					width: 100%;
					display: flex;
					justify-content: space-between;
					align-items: center;
					h2 {
						color: rgb(34, 34, 34);
						font-family: Open Sans;
						font-size: 24px;
						font-weight: 600;
						line-height: 130%;
						letter-spacing: 0px;
						text-align: left;
					}
					p {
						color: rgb(150, 150, 150);
						font-family: Open Sans;
						font-size: 16px;
						font-weight: 400;
						line-height: 130%;
						letter-spacing: 0px;
						text-align: left;
					}
				}
				.delete_all {
					max-width: 797px;
					width: 100%;
					display: flex;
					justify-content: flex-end;
				}
				.delete_all {
					color: rgb(84, 84, 84);
					font-family: Open Sans;
					font-size: 16px;
					font-weight: 400;
					line-height: 130%;
					letter-spacing: 0px;
					text-align: left;
					margin-bottom: 50px;
					cursor: pointer;
				}
				.all_books_in_basket {
					max-width: 799px;
					width: 100%;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					gap: 40px;
					@media (max-width: 600px) {
						max-width: 590px;
						width: 100%;
						display: flex;
						flex-direction: column;
						align-items: flex-start;
					}
					hr {
						max-width: 797px;
						width: 100%;
						border: 1px solid silver;
						margin-bottom: 15px;
						&:first-child {
							display: none;
						}
						@media (max-width: 760px) {
							max-width: 797px;
							width: 100%;
							border: 1px solid silver;
							margin-bottom: 15px;
						}
					}
					.card_container {
						width: 100%;
						@media (max-width: 431px) {
							max-width: 420px;
							width: 100%;
						}
						.delete_x {
							display: flex;
							justify-content: end;
							cursor: pointer;
							width: 100%;
							@media (max-width: 760px) {
								max-width: 760px;
								width: 100%;
								display: flex;
								justify-content: end;
							}
						}
						.book {
							display: flex;
							max-width: 799px;
							width: 100%;
							@media (max-width: 600px) {
								width: 100%;
								display: flex;
								flex-direction: column;
								gap: 10px;
							}
							.book_img {
								margin: 0px 52px 0px 51px;
								display: flex;
								align-items: center;
								justify-content: center;
								img {
									max-width: 110px;
									max-height: 176px;
									width: 100%;
								}
								@media (max-width: 600px) {
									width: 100%;
									margin: 0px 0px 0px 0px;
									display: flex;
									align-items: center;
									justify-content: center;
								}
								@media (max-width: 430px) {
									width: 100%;
									margin: 0px 0px 0px 0px;
									display: flex;
									align-items: center;
									justify-content: center;
								}
								@media (max-width: 380px) {
									width: 100%;
									margin: 0px 0px 0px 0px;
									display: flex;
									align-items: center;
									justify-content: center;
								}
								@media (max-width: 320px) {
									width: 100%;
									margin: 0px 0px 0px 0px;
									display: flex;
									align-items: center;
									justify-content: center;
								}
							}
							@media (max-width: 1230px) {
								max-width: 1230px;
								width: 100%;
								display: flex;
							}
							@media (max-width: 1223px) {
								max-width: 1223px;
								width: 100%;
								display: flex;
							}
							@media (max-width: 431px) {
								max-width: 420px;
								width: 100%;
								display: flex;
								gap: 5px;
							}
							.more_info_book {
								max-width: 468px;
								width: 100%;
								@media (max-width: 760px) {
									width: 100%;
								}
								.book_info {
									max-width: 468px;
									width: 100%;
									display: flex;
									flex-direction: column;
									margin-top: 20px;
									@media (max-width: 380px) {
										max-width: 370px;
										width: 100%;
									}
									@media (max-width: 350px) {
										max-width: 340px;
										width: 100%;
									}
									@media (max-width: 320px) {
										max-width: 310px;
										width: 100%;
									}
									h3 {
										color: rgb(40, 40, 40);
										font-family: Open Sans;
										font-size: 18px;
										font-weight: 400;
										line-height: 130%;
										letter-spacing: 0px;
										text-align: left;
										margin-bottom: 10px;
									}
									p {
										color: rgb(150, 150, 150);
										font-size: 14px;
										font-weight: 400;
										line-height: 130%;
										letter-spacing: 0px;
										text-align: left;
										margin-bottom: 14px;
									}
									.prices {
										max-width: 468px;
										width: 100%;
										display: flex;
										justify-content: space-between;
										align-items: center;
										@media (max-width: 1100px) {
											max-width: 840px;
											width: 100%;
											display: flex;
											gap: 30px;
										}
										@media (max-width: 840px) {
											max-width: 840px;
											width: 100%;
											display: flex;
											gap: 20px;
										}
										@media (max-width: 431px) {
											display: flex;
											flex-direction: column;
											justify-content: flex-start;
											align-items: start;
											max-width: 420px;
											width: 100%;
										}
										p {
											color: rgb(241, 0, 0);
											font-family: Open Sans;
											font-size: 14px;
											font-weight: 400;
											line-height: 130%;
											letter-spacing: 0px;
											text-align: left;
										}
										.first_price {
											color: rgb(150, 150, 150);
											font-family: Open Sans;
											font-size: 16px;
											font-weight: 400;
											line-height: 130%;
											letter-spacing: 0px;
											text-align: left;
											text-decoration-line: line-through;
										}
										.sale_price {
											color: rgb(34, 34, 34);
											font-family: Open Sans;
											font-size: 20px;
											font-weight: 400;
											line-height: 130%;
											letter-spacing: 0px;
											text-align: left;
										}
										.prices_with_sale {
											display: flex;
											align-items: center;
											gap: 13px;
										}
									}
									.book_quantity {
										display: flex;
										align-items: center;
										gap: 10px;
										margin-top: 10px;
										margin-bottom: 10px;
										button {
											display: flex;
											align-items: center;
											justify-content: center;
											margin: 0px;
											padding: 0px;
											width: 20px;
											height: 20px;
											border: none;
											outline: none;
											cursor: pointer;
											background-color: rgb(196, 196, 196);
											&:hover {
												background-color: #222222;
												color: white;
											}
										}
									}
								}
							}
						}
					}
					.add_to_basket {
						display: flex;
						justify-content: end;
						width: 100%;
						cursor: pointer;
						@media (max-width: 431px) {
							display: flex;
							justify-content: end;
							width: 100%;
						}
						@media (max-width: 421px) {
							display: flex;
							justify-content: end;
							width: 100%;
						}
						@media (max-width: 331px) {
							display: flex;
							justify-content: end;
							width: 100%;
						}
						p {
							color: rgb(34, 34, 34);
							font-size: 14px;
							font-weight: 400;
							line-height: 19px;
							letter-spacing: 0%;
							text-align: left;
							text-decoration-line: underline;
						}
						p {
							display: flex;
							max-width: 156px;
							width: 100%;
							color: rgb(34, 34, 34);
							font-family: Open Sans;
							font-size: 14px;
							font-weight: 400;
							line-height: 19px;
							letter-spacing: 0%;
							text-align: left;
							text-decoration-line: underline;
						}
					}
				}
			}
			.right_content {
				max-width: 434px;
				width: 100%;
				display: flex;
				flex-direction: column;
				padding: 30px;
				.total_price_content {
					max-width: 374px;
					width: 100%;
					padding: 30px;
					border: 1px solid silver;
					display: flex;
					flex-direction: column;
					gap: 31.5px;
					margin-bottom: 24px;
					@media (max-width: 1240px) {
						width: 100%;
					}
					@media (max-width: 760px) {
						width: 100%;
					}
					@media (max-width: 414px) {
						max-width: 410px;
						width: 100%;
						display: flex;
					}
					@media (max-width: 400px) {
						max-width: 390px;
						width: 100%;
						display: flex;
					}
					@media (max-width: 390px) {
						max-width: 380px;
						width: 100%;
						display: flex;
					}
					@media (max-width: 380px) {
						max-width: 370px;
						width: 100%;
						display: flex;
					}
					@media (max-width: 350px) {
						max-width: 340px;
						width: 100%;
						display: flex;
					}
					@media (max-width: 320px) {
						max-width: 270px;
						width: 100%;
						display: flex;
					}
					.title {
						color: rgb(34, 34, 34);
						font-size: 18px;
						font-weight: 400;
						line-height: 130%;
						letter-spacing: 0px;
						text-align: center;
					}
					.purchases {
						max-width: 296px;
						width: 100%;
						display: flex;
						flex-direction: column;
						gap: 12px;
						.purchase {
							display: flex;
							align-items: center;
							align-items: center;
							justify-content: space-between;
						}
						p {
							color: rgb(105, 105, 105);
							font-family: Open Sans;
							font-size: 16px;
							font-weight: 400;
							line-height: 22px;
							letter-spacing: 0px;
							text-align: left;
						}
					}
					.promo_input {
						width: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
					}
					.total_price {
						max-width: 296px;
						width: 100%;
						display: flex;
						align-items: center;
						justify-content: space-between;
						p {
							color: rgb(34, 34, 34);
							font-size: 16px;
							font-weight: 600;
							line-height: 130%;
							letter-spacing: 0px;
							text-align: left;
						}
					}
				}
			}
		}
	}

	:global {
		.ant-modal.css-dev-only-do-not-override-1qfezbu.ant-modal-confirm.ant-modal-confirm-success {
			max-width: 460px !important;
			width: 100% !important;
		}
		.ant-modal-confirm-body {
			display: flex;
			flex-direction: column;
			align-items: center !important;
			gap: 23px;
		}
		.ant-modal-confirm-content {
			font-size: 18px !important;
			color: rgb(0, 0, 0) !important;
			font-family: Open Sans;
			font-weight: 400;
			line-height: 130% !important;
			letter-spacing: 0px;
			text-align: left;
		}
		.anticon-check-circle {
			width: 46px !important;
			height: 46px !important;
			svg {
				width: 46px;
			}
		}
		.anticon {
			width: 14px;
			height: 14px;
			svg {
				width: 46px;
				height: 46px;
			}
		}
		.ant-modal-confirm-btns {
			display: flex;
			justify-content: center;
			margin-top: 32px !important;
			.ant-btn {
				max-width: 223px !important;
				width: 100% !important;
				&:hover {
					border: 1px solid transparent !important;
					span {
						color: #f34901;
					}
				}
				span {
					color: rgb(255, 255, 255);
					font-family: Open Sans;
					font-size: 16px;
					font-weight: 600;
					line-height: 22px;
					letter-spacing: 0px;
					text-align: left;
				}
			}
		}
	}
	.modal_container {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 20px 10px;
		gap: 30px 0px;
	}
	:global {
		.ant-modal-content {
			padding: 24px 30px !important ;
		}
		.ant-modal-footer {
			margin-top: 40px !important;
			button {
				max-width: 162px !important;
			}
		}
	}
}
