.content_one {
	.content_text {
		font-size: 12px;
		display: flex;
		margin-top: 49px;
		margin-bottom: 100px;

		@media (max-width: 500px) {
			font-size: 9px;
		}
		@media (max-width: 350px) {
			font-size: 7px;
		}

		p {
			color: rgb(156, 156, 156);
		}
	}
	.content {
		display: flex;
		gap: 200px;

		@media (max-width: 880px) {
			flex-wrap: wrap;
			justify-content: center;
		}

		.sectionAboutBook {
			display: flex;
			gap: 30px;
			position: relative;

			.icon_Orang {
				position: absolute;
				top: 330px;
				left: 43%;
			}

			@media (max-width: 1270px) {
				.icon_Orang {
					top: 320px;
					left: 60%;
					transform: translateX(-50%);
				}
			}

			@media (max-width: 1024px) {
				.icon_Orang {
					top: 190px;
				}
			}
			@media (max-width: 914px) {
				.icon_Orang {
					top: 200px;
				}
			}
			@media (max-width: 854px) {
				.icon_Orang {
					top: 330px;
				}
			}
			@media (max-width: 434px) {
				.icon_Orang {
					top: 200px;
				}
			}
			@media (max-width: 424px) {
				.icon_Orang {
					top: 100px;
				}
			}
			@media (max-width: 462px) {
				.icon_Orang {
					top: 140px;
				}
			}
			@media (max-width: 382px) {
				.icon_Orang {
					top: 150px;
				}
			}

			img {
				max-width: 100%;
				height: auto;
			}
		}

		.section_Content_Text {
			margin-top: 65px;

			.section_mony {
				margin-top: 40px;

				h5 {
					color: #f34901;
				}
			}

			.section_info {
				margin-top: 40px;
				display: flex;
				gap: 90px;

				@media (max-width: 400px) {
					gap: 30%;
				}

				@media (max-width: 433px) {
				}

				.section_info_name h5 {
					margin-bottom: 23px;

					@media (max-width: 433px) {
						margin-bottom: 29px;
					}
				}

				.section_info_two p {
					margin-right: auto;
					font-size: 15px;
					margin-bottom: 20px;

					@media (max-width: 433px) {
						margin-bottom: 16px;
					}
					@media (max-width: 423px) {
						margin-bottom: 17px;
					}
				}
			}

			.section_boot {
				margin-top: 80px;
				display: flex;
				gap: 120px;

				@media (max-width: 415px) {
					gap: 60px;
				}

				.boot1 {
					cursor: pointer;
				}
			}
		}
	}

	.section_text_books {
		@media (max-width: 500px) {
		}
		display: flex;

		margin-top: 100px;
		gap: 300px;

		@media (max-width: 980px) {
			gap: 200px;
		}
		@media (max-width: 990px) {
			gap: 100px;
		}
		@media (max-width: 780px) {
			flex-wrap: wrap;
			justify-content: center;
		}

		.section_show_info {
			margin-top: 200px;
			margin-bottom: 20px;

			.show_info_book {
				cursor: pointer;
				display: flex;
				gap: 100px;

				@media (max-width: 414px) {
					font-size: 9px;
				}
			}
			.book_info {
				margin-top: 100px;
				width: 100%;
			}
		}
		.info_img {
			width: 100%;
			right: 400px;
			@media (max-width: 460px) {
				img {
					width: 100%;
				}
			}
		}
	}
}
