.Navbar {
	position: sticky;
	z-index: 999;
	top: 0px;
	left: 0px;
	max-width: 251px;
	width: 100%;
	min-height: 100vh;
	background-color: orangered;
	transition: width 1s;

	@media (max-width: 768px) {
		width: 50px;
		transition: width 1s;
	}

	nav {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		max-width: 251px;
		transition: width 1s;

		@media (max-width: 768px) {
			width: 50px;
			transition: width 1s;
		}

		span {
			display: block;
			cursor: pointer;
			@media (max-width: 768px) {
				display: none;
			}
		}

		ul {
			margin-top: 74px;
			display: flex;
			flex-direction: column;
			gap: 10px;
			width: 100%;
			transition: width 1s;

			.li {
				display: flex;
				padding: 10px 20px;
				width: 100%;
				max-width: 251px;
				height: 52px;
				gap: 15.4px;
				align-items: center;

				@media (max-width: 768px) {
					width: 50px;
					transition: width 1s;
				}

				p {
					color: rgb(255, 255, 255);
					font-size: 16px;
					font-weight: 400;
					line-height: 22px;
					letter-spacing: 0%;

					@media (max-width: 768px) {
						display: none;
					}
				}

				&:hover {
					transition: width 1s;
					background-color: #f8f8f8;
					width: 251px;
					p {
						color: orangered;
					}
					svg {
						* {
							fill: orangered !important;
						}
					}

					@media (max-width: 768px) {
						width: 50px;
						transition: width 1s;
					}
				}

				&.li_active {
					background-color: #f8f8f8;
					width: 251px;

					@media (max-width: 768px) {
						width: 50px;
						transition: width 1s;
					}

					p {
						color: orangered;
					}
					.links {
						color: white;
					}
					svg {
						* {
							fill: orangered !important;
						}
					}
				}
			}

			.links {
				display: flex;
				color: rgb(255, 255, 255);
				font-size: 16px;
				font-weight: 600;
				line-height: 22px;
				letter-spacing: 0%;
				text-align: left;
				width: 100%;
			}

			.links_active {
				background-color: #f8f8f8;
				width: 251px;
				transition: width 1s;

				@media (max-width: 768px) {
					width: 50px;
					transition: width 1s;
				}
			}
		}
	}
}
