.custom_button_auth {
	background: #1c1c1c !important;
	padding: 10px 24px;
	border: none;
	color: #fff;
	font-weight: 600;
	font-size: 16px;
	cursor: pointer;
	&:hover {
		background: #484848;
		transition: 0.2s;
	}
	&:active {
		background: #f34901;
		transition: 0.2s;
	}
}

.custom_button_basket {
	background: #f34901;
	padding: 10px 24px;
	border: none;
	color: #fff;
	font-weight: 600;
	font-size: 14px;
	cursor: pointer;
	&:hover {
		background: #fe6f33;
		transition: 0.2s;
	}
	&:active {
		background: #f34901;
		transition: 0.2s;
	}
}

.custom_button_personal {
	background: #fff !important;
	padding: 10px 24px !important;
	box-sizing: border-box;
	border: 1px solid rgb(196, 196, 196);
	color: #c4c4c4;
	font-weight: 600;
	font-size: 14px;
	cursor: pointer;
	&:hover {
		background: #fe6f33;
		transition: 0.2s;
	}
	&:active {
		background: #e54400;
		transition: 0.2s;
	}
}

.custom_button_see_more {
	background: white;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid rgb(196, 196, 196);
	background: rgb(248, 248, 248);
	color: black;
	font-weight: 400;
	font-size: 14px;
	color: rgb(150, 150, 150);
	font-family: Open Sans;
	cursor: pointer;
	line-height: 130%;
	letter-spacing: 0px;
	text-align: center;
	width: 100%;

	&:active {
		background: orangered;
		transition: 0.2s;
	}
}

.custom_button_add_book {
	cursor: pointer;
	background: orangered;
	padding: 10px 24px;
	border: none;
	color: #fff;
	cursor: pointer;
}

.custom_white_dowland {
	cursor: pointer;
	background-color: white;
	color: #222222;
}

.custom_button_dowland {
	cursor: pointer;
	background-color: #1c1c1c;
}
